<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>

    {% block head %}

    <meta charset="UTF-8">
    <title>{{form._name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">

    {% endblock %}
</head>
<body>

{% block after %}
{{ ckeditor.load() }}

<div class="form-block">


    <h1>{{form._name}}</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        <p>
            {{ form.name(size=35) }}
            {% for error in form.name.errors %}<br>
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>


        {{ form.cover.label }}
        <p>
            {{ form.cover(size=32) }}
            {% for error in form.cover.errors %}<br>
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>

        {{ form.body.label }}
        <p>
            {{ form.body() }}

            {% for error in form.body.errors %}<br>
            <span class="error">{{ error }}</span>
            {% endfor %}

        </p>
        {{ form.submit() }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
</div>
{% endblock %}
</body>
</html>