<!DOCTYPE html>
<html lang="ru">
{% extends "base_template.html" %}

<head>

    {% block head %}

    <meta charset="UTF-8">
    <title>{{form._name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">

    {% endblock %}
</head>
<body>


{% block after %}
{{ ckeditor.load() }}
<div class="form-block">
    <h1>{{form._name}}</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        {{ form.site_logo.label }}
        <p>

            {{ form.site_logo() }}
            {% for error in form.site_logo.errors %}<br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>


        {{form.background_image.label}}
        <p>
            {{ form.background_image() }}
            {% for error in form.background_image.errors %}<br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.allow_background_image()}}
            {{form.allow_background_image.label}}
        </p>
        {{form.site_name.label}}
        <p>
            {{ form.site_name(size=32) }}
            {% for error in form.site_name.errors %}<br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        {{ form.save() }}
    </form>

    {{ ckeditor.config(name='description', height=500) }}
</div>

{% endblock %}
</body>
</html>