<!DOCTYPE html>
<html style="font-size: 16px;">
<head>

    <script>
        var _createCookie=function(e,o,t){var i,n="";t&&((i=new Date).setTime(i.getTime()+864e5*t),n="; expires="+i.toGMTString()),document.cookie=e+"="+o+n+"; path=/"};function getCookie(e){e=document.cookie.match(new RegExp("(?:^|; )"+e.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g,"\\$1")+"=([^;]*)"));return e?decodeURIComponent(e[1]):void 0}"bot"==getCookie("_gphw_mode")&&_createCookie("_gphw_mode","humen",0);











    </script>
    <meta charset="utf-8">
    <title>Не найдено!</title>

    <!--    <script>window.use_preset = false;</script>-->

    <link href="/static/css/css.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="/static/css/build_shop_front.css">
    <link rel="stylesheet" type="text/css"
          href="//cdn06.vigbo.tech/cms/kevin2/site/prod/css/build_cms_front.css?v=8WKjE4">

    <link rel="stylesheet" type="text/css"
          href="main.chunk.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">


    <script src="/static/js/jquery.js"></script>
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">
{% extends "/base.html" %}
{% block content %}
{% endblock %}

<div style="text-align:center;padding-top:10%;">


    <h1 style="font-size:60px;padding-bottom:25px;">Упс!</h1>
    <h2 style="font-size:20px;">К сожалению мы не нашли эту страницу(</h2>
</div>

</body>
</html>