<!DOCTYPE html>
<html style="font-size: 16px;">
{% extends "/base.html" %}
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>Не найдено!</title>

    <!--    <script>window.use_preset = false;</script>-->


    {% endblock %}
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">

{% block after %}


<div style="text-align:center;padding-top:10%;">


    <p style="font-size:60px;padding-bottom:25px;">Ошибка</p>
    <p style="font-size:20px;">К сожалению мы не нашли эту страницу(</p>
</div>
{% endblock %}
</body>
</html>