@media only screen and (min-width: 1200px){
    .description p {
        max-width: 80%;
        
        margin-top: 10px;
    }
    .title {
        font-size: 30px;
    }
    span {
        font-size: 30px;
    }
    .tools i {
        font-size: 24px;
    }
    .tools a {
        margin: 0 8px;
    }
    .description hr {    
        border: 1px solid #3caea7;
    }
    .item-block {
        width: 500px;
    }
    .navigation {
        padding-top: 20px;
    }

}   

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Общие стили */
    p {
        font-size: 50%;
    }
    span {
        font-size: 4vh;
    }
    .title {
        font-size: 5vh;
    }
    .tools i{
        font-size: 3vh;
    }
    .tools a {
        font-size: 3vh;
        margin: 0 8px;
    }
    /* Документы */
    .documents-list .item-block {
        width: 70%;
    }
    .documents-list .content {
        height: 160px;
        border-radius: 15px;
    }
    .documents-list .document-title {
        font-size: 3vh;
    }
    .description hr {    
        border: 2px solid #3caea7;
    }

    
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    p {
        font-size: 40px;
    }
    span {
        font-size: 70px;
    }
    li {
        font-size: 30px;
    }

    /* .tools i{
        font-size: 40px;
    }
    .tools a {
        font-size: 40px;
        margin: 0 8px;
    } */
    /* Документы */
    .documents-list .item-block {
        width: 70%;
    }
    .documents-list .content {
        height: 160px;
        border-radius: 15px;
    }
    .documents-list .document-title {
        font-size: 3vh;
    }
    .description hr {    
        border: 2px solid #3caea7;
    }
    /* .item-block {
        width: 70%;
    } */
    .navigation {
        padding-top: 40px;
    }
    .navigation a {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .description p {
        font-size: 2vh;

    }
    
}
@media only screen and (max-width: 320px) and (max-width: 480px) {
    .description p {
        font-size: 2vh;
        
    }
    p {
        background-color: red;
    }

    
}