@media only screen and (min-width: 1200px) {

    .title {
        font-size: 30px;
    }

    span {
        font-size: 30px;
    }

    .tools i {
        font-size: 24px;
    }

    .tools a {
        margin: 0 8px;
    }

    .item-block {
        width: 500px;
    }

    .view-all {
        font-size: 18px;
    }
    .animals-body p, h1, h2, h3, h4, h5, h6 {
        font-size: 17px;
        font-weight: normal;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Общие стили */
    .title {
        font-size: 30px;
    }

    span {
        font-size: 30px;
    }

    .tools i {
        font-size: 24px;
    }

    .tools a {
        margin: 0 8px;
    }

    .item-block {
        width: 500px;
    }

    .animals-body p, h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
        font-weight: normal;
    }



    .view-all {
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body {
		background-color: red;
	}
    p {
        font-size: 40px;
    }

    span {
        font-size: 70px;
    }

    .is-empty p {
        font-size: 45px;
    }
    .is-empty a {
        font-size: 30px;
    }

    .tools i {
        font-size: 40px;
    }

    .tools a {
        font-size: 40px;
        margin: 0 8px;
    }

    .title-block {
        font-size: 40px;
    }

    .item-block {
        width: 70%;
    }

    .animals-body p, h1, h2, h3, h4, h5, h6 {
        font-size: 28px;
        font-weight: normal;
    }


    .view-all {
        font-size: 24px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {

}

@media only screen and (max-width: 320px) and (max-width: 480px) {
}