body {
    background-color: white;
}
.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.contacts-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}


.contacts-block div {

    margin-top: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.contacts-block div p {
    font-size: 21px;
    text-align: center;
    white-space: nowrap;
}
.contacts-block div img {
    display: block;
    width: 250px;

}
.contacts-block .phone-number {

    margin: 0 10px;
    
}

.contacts-block a {
    font-size: 21px;
    white-space: normal;
    transition: .5s ease-in-out;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}


.contacts-block a:hover {

    
    background-size: 100% 2px;
}



.submenu {
    background-color: white;
}



