:root {



    --DE-common__site-bg-color-editor: #ffffff;
    --DE-common__site-bg-color-editor-rgb: rgb(255, 255, 255);
    --DE-common__site-font-name: sans-serif;
    --DE-common__text-default-color: #000000;
    --DE-common__text-default-color-opacity: rgba(0, 0, 0, 0.7);
    --DE-common__scroll-up-arrow: #000000;
    --DE-common__scroll-up-arrow-hover: rgba(204, 204, 204, 1);
    --DE-common__link-color:;
    --DE-common__link-color-hover: rgba(204, 204, 204, 1);
    --DE-common__copyright-text-color: rgba(179, 179, 179, 1);
    --DE-common__copyright-text-align:;
    --DE-common__site-width-pixels-editor: 2410px;
    --DE-common__site-width-percents-editor: 80%;
    --DE-common__site-width-percents-editor-with-pixel-coeff: 80px;
    --DE-common__site-with: 1200px;
    --DE-common__site-width-percents: 85%;
    --DE-galleries__slider-element-color: #000000;
    --DE-galleries__slider-element-color-hover: #474747;
    --DE-galleries__photo-slider-scroll-down-arrow:;
    --DE-galleries__photo-slider-scroll-down-arrow-hover:;
    --DE-galleries__photo-slider-element-color:;
    --DE-galleries__photo-slider-font-name: Bad Script;
    --DE-galleries__photo-slider-font-size: 40px;
    --DE-logo__font-name: 'Crafty Girls';
    --DE-logo__font-weight: 400;
    --DE-logo__font-style: normal;
    --DE-logo__font-size: 22px;
    --DE-logo__font-color: rgba(0, 0, 0, 1);
    --DE-social-icons__social-icons-padding: 15px;
    --DE-social-icons__social-icons-size: 24px;
    --DE-social-icons__social-icons-color: rgba(61, 61, 61, 1);
    --DE-social-icons__social-icons-color-hover: #4d4d4d;
    --DE-search__form-search-bg: #e3e3e3;
    --DE-search__search-icons: #000000
}

:root {
    --DE-menu__menu-bg: rgba(255, 255, 255, 1);
    --DE-menu__menu-font-name: Montserrat Regular;
    --DE-menu__menu-text-format-weight: 'normal';
    --DE-menu__menu-text-format-style: 'normal';
    --DE-menu__menu-font-weight:;
    --DE-menu__menu-font-style: sans-serif;
    --DE-menu__menu-font-size: 15px;
    --DE-menu__menu-font-size-hard: 15px;
    --DE-menu__menu-font-size-other-value: 17px;
    --DE-menu__menu-color: rgba(0, 0, 0, 1);
    --DE-menu__menu-color-hover: rgba(204, 204, 204, 1);
    --DE-menu__menu-style-link-color: rgba(247, 247, 247, 0);
    --DE-menu__menu-style-link-color-line:;
    --DE-menu__menu-letter-spacing: 0em;
    --DE-menu__menu-item-padding: 28px;
    --DE-menu__vertical-menu-padding: 10px;
    --DE-menu__submenu-font-size: 16px;
    --DE-menu__submenu-color: rgba(0, 0, 0, 1);
    --DE-menu__submenu-color-active: rgba(204, 204, 204, 1);
    --DE-menu__mobile-menu-bg: #ffffff;
    --DE-menu__mobile-menu-color: rgba(0, 0, 0, 1);
    --DE-menu__mobile-menu-color-active: rgba(204, 204, 204, 1)
}

.de--site-bg-color {
    background-color: var(--DE-common__site-bg-color-editor)
}

.de--site-bg-color__stroke {
    stroke: var(--DE-common__site-bg-color-editor)
}

.de--site-bg-color__color {
    color: var(--DE-common__site-bg-color-editor)
}

.de--site-bg-color__border {
    border-color: var(--DE-common__site-bg-color-editor)
}

:root {
    --DE-menu__submenu-bg: rgba(255, 255, 255, 1);
    --DE-menu__submenu-bg-color-number: 255, 255, 255
}

.de--menu__submenu-bg-shadow:before {
    background: linear-gradient(to bottom, var(--DE-menu__submenu-bg), rgba(var(--DE-menu__submenu-bg-color-number), 0))
}

.de--menu__submenu-bg-shadow:after {
    background: linear-gradient(to bottom, rgba(var(--DE-menu__submenu-bg-color-number), 0), var(--DE-menu__submenu-bg))
}

/* body, .f-textarea, .mod--font-none-preset .searchform__input, .mod--font-none-preset .searchform__input[placeholder], .mod--font-none-preset .f-text, .mod--font-none-preset .de--main__font-family {
    font-family: var(--DE-common__site-font-name)
} */

section.privatepage form .button, .md-top-slider_slide-content {
    font-family: var(--DE-common__site-font-name) !important
}

.mod--font-none-preset .searchform__input::-webkit-input-placeholder, .mod--font-none-preset .searchform__input::-moz-placeholder {
    font-family: var(--DE-common__site-font-name)
}



#fsbox.fsbox-blog, .gallery_swiper-modal {
    background: var(--DE-common__site-bg-color-editor)
}

.zoomContainer .zoomWindow, .mod--menu-transparent.layout-logo-bottom--icons-right--social-left .mod--menu-floating, .mod--menu-transparent.mod--menu-action-on-scroll .l-header-alternate .l-header__wrapper {
    background-color: var(--DE-common__site-bg-color-editor-rgb)
}

section, section a, .searchform__tabs-list li .span, .searchform__result-count, .searchresult__item-element .searchresult__blog-title, .searchresult__item-element p b, .searchresult__item-element .searchresult__blog-date, .searchresult__item-element .searchresult__item-link {
    color: var(--DE-common__text-default-color)
}

.searchresult__item-element p {
    color: var(--DE-common__text-default-color-opacity)
}

.searchform__tabs-list li .span:after, .searchresult__item-element .searchresult__item-link:after {
    background-color: var(--DE-common__text-default-color)
}

#fsbox-close svg path, #fsbox-prev svg path, #fsbox-next svg path {
    fill: var(--DE-common__text-default-color)
}

.de--main__text-default-color {
    color: var(--DE-common__text-default-color);
    fill: var(--DE-common__text-default-color)
}

.de--main__text-default-color--stroke, .md-preloader .path.de--main__text-default-color--stroke {
    stroke: var(--DE-common__text-default-color)
}

.de--main__text-default-color:before {
    text-decoration-color: var(--DE-common__text-default-color);
!important
}

.md-btn-go-up-svg-color {
    fill: var(--DE-common__scroll-up-arrow)
}

.searchform__loading .searchform__dots span {
    background: var(--DE-common__scroll-up-arrow)
}

.md-btn-go-up:hover .md-btn-go-up-svg-color {
    fill: var(--DE-common__scroll-up-arrow-hover)
}

.widget .post-title a, .widget .quote a, .widget .accordion a, .widget .simple-text a, .widget .post-subscribe .subscribe-checkbox a, .widget .aside-subscribe .subscribe-checkbox a, .widget .post-form a, .shop-category-description a, .shop-product .text a, .shop-order-content a, .md-top-slider_slide-content-inner a, .pre_order_form a, .md-infoline__cont a {
    color: var(--DE-common__link-color)
}

.pre_order_form a:hover, .pre_order_form a:hover span, .pre_order_form a:hover u {
    color: var(--DE-common__link-color-hover) !important
}

.de--common__link-color a {
    color: var(--DE-common__link-color) !important
}

.widget .post-title a:hover, .widget .post-title a:hover span, .widget .post-title a:hover u, .widget .quote a:hover, .widget .quote a:hover span, .widget .quote a:hover u, .widget .accordion a:hover, .widget .accordion a:hover span, .widget .accordion a:hover u, .widget .simple-text a:hover, .widget .simple-text a:hover span, .widget .simple-text a:hover u, .widget .post-subscribe .subscribe-checkbox a:hover, .widget .post-subscribe .subscribe-checkbox a:hover span, .widget .post-subscribe .subscribe-checkbox a:hover u, .widget .aside-subscribe .subscribe-checkbox a:hover, .widget .aside-subscribe .subscribe-checkbox a:hover span, .widget .aside-subscribe .subscribe-checkbox a:hover u, .widget .post-form a:hover, .widget .post-form a:hover span, .widget .post-form a:hover u, .shop-category-description a:hover, .shop-category-description a:hover span, .shop-category-description a:hover u, .shop-product .text a:hover, .shop-product .text a:hover span, .shop-product .text a:hover u, .shop-order-content a:hover, .shop-order-content a:hover span, .shop-order-content a:hover u, .md-top-slider_slide-content-inner a:hover, .md-top-slider_slide-content-inner a:hover span, .md-top-slider_slide-content-inner a:hover u, .post-form .form__checkbox_text a:hover, .post-form .form__checkbox_text a:hover span, .post-form .form__checkbox_text a:hover u, .md-infoline__cont a:hover, .md-infoline__cont a:hover span, .md-infoline__cont a:hover u, .de--common__link-color a:hover, .de--common__link-color a:hover span, .de--common__link-color a:hover u {
    color: var(--DE-common__link-color-hover) !important
}

.md-top-slider__nav .md-top-slider__nav-arrow-down-svg-color {
    fill: var(--DE-galleries__slider-element-color)
}

.md-top-slider__nav-arrow-down svg:hover .md-top-slider__nav-arrow-down-svg-color {
    fill: var(--DE-galleries__slider-element-color-hover)
}

.copyright, #gpwCC, #gpwCC:hover, .copyright a#gpwCC {
    color: var(--DE-common__copyright-text-color)
}

footer .copyright__gophotoweb--box {
    text-align: var(--DE-common__copyright-text-align)
}



#fsbox.fsbox-blog, .gallery_swiper-modal, .md-preloader__block.mod--inversion {
    background: var(--DE-common__site-bg-color-editor)
}

body.adaptive-desktop .custom__content--max-width {
    max-width: var(--DE-common__site-width-percents-editor)
}

.adaptive-desktop .mod--slide-justify .md-section.mod--section-fixed .section__bg {
    max-width: calc((var(--DE-common__site-width-percents-editor) * 0.5) - (var(--DE-common__site-width-percents-editor-with-pixel-coeff) * 2))
}

.adaptive-desktop .mod--slide-justify .section--twice .md-section.mod--section-fixed .section__bg {
    max-width: calc((var(--DE-common__site-width-percents-editor) * 0.5) - var(--DE-common__site-width-percents-editor-with-pixel-coeff))
}

.md-aside .social-icons .social-icon-box {
    padding-bottom: var(--DE-social-icons__social-icons-padding)
}

.l-footer .social-icons .social-icon-box {
    padding-left: calc(var(--DE-social-icons__social-icons-padding) * 2);
    padding-right: calc(var(--DE-social-icons__social-icons-padding) * 2)
}

footer .social-icons .social-icon-box, footer .social-icons .social-icon-box a, footer .social-icons .social-icon-box i {
    font-size: var(--DE-social-icons__social-icons-size);
    line-height: var(--DE-social-icons__social-icons-size)
}

footer .social-icons .social-icon-box i {
    color: var(--DE-social-icons__social-icons-color)
}

footer .social-icons .social-icon-box i:hover {
    color: var(--DE-social-icons__social-icons-color-hover)
}

.social-icons [class^="icon-"]:before, .social-icons [class*=" icon-"]:before {
    margin: 0
}

.md-top-slider__nav-standart-arrow-svg-color, .md-top-slider__nav-combo-arrow-svg-color, .md-top-slider__nav-dots-svg-color, .md-top-slider__nav-combo-svg-color, .md-top-slider__nav .md-top-slider__nav-arrow-down-svg-color {
    fill: var(--DE-galleries__slider-element-color)
}

.md-top-slider__nav-combo-number {
    color: var(--DE-galleries__slider-element-color)
}

.md-top-slider__nav-standart-arrow:hover .md-top-slider__nav-standart-arrow-svg-color, .md-top-slider__nav-arrow-down svg:hover .md-top-slider__nav-arrow-down-svg-color, .md-top-slider__nav-combo-arrow:hover .md-top-slider__nav-combo-arrow-svg-color, .md-top-slider__nav-dots a:hover .md-top-slider__nav-dots-svg-color, .md-top-slider__nav-combo-number-wrapper a:hover .md-top-slider__nav-combo-svg-color, .md-top-slider__nav-arrow-down svg:hover .md-top-slider__nav-arrow-down-svg-color {
    fill: var(--DE-galleries__slider-element-color-hover)
}

.md-top-slider__nav-combo-number-wrapper a:hover .md-top-slider__nav-combo-number {
    color: var(--DE-galleries__slider-element-color-hover)
}

.md-top-slider_slide-content {
    font-family: var(--DE-galleries__photo-slider-font-name)
}

.md-top-slider_slide-content {
    font-size: var(--DE-galleries__photo-slider-font-size)
}

.custom__menu-bg-rgba {
    background-color: var(--DE-menu__menu-bg)
}

.custom__menu-bg-rgb {
    background-color: rgb(255, 255, 255)
}

.layout-vertical--logo-top--icons-bottom.adaptive-desktop .l-header__menu--box .menu-shadow.mod--menu-shadow__top {
    display: block;
    background: linear-gradient(to bottom, rgba(,,, 1) 0%, rgba(,,, 1) 25%, rgba(,,, 0) 100%)
}

.layout-vertical--logo-top--icons-bottom.adaptive-desktop .l-header__menu--box .menu-shadow.mod--menu-shadow__bottom {
    display: block;
    background: linear-gradient(to bottom, rgba(,,, 0) 0%, rgba(,,, 1) 75%, rgba(,,, 1) 100%)
}

.adaptive-desktop.is-mmenu-open.layout-vertical--without-logo--icons-bottom .aside-header {
    background-color: rgb(255, 255, 255)
}

.md-menu__main a, .md-menu__separator, body .l-header__icons--box {
    font-family: var(--DE-menu__menu-font-name)
}

.md-menu__main a, .md-menu__separator, body .l-header__icons--box {
    font-weight: var(--DE-menu__menu-text-format-weight);
    font-style: var(--DE-menu__menu-text-format-style)
}

.adaptive-desktop .md-menu__href-l1, .md-menu__main a, .md-menu__li-l1, .md-menu__separator, body.mod--horizontal-menu .l-header__icons--box, .md-menu--mobile .md-menu__li-l1 .md-menu__href-l1 {
    font-size: var(--DE-menu__menu-font-size);
    font-family: var(--DE-common__site-font-name);
    line-height: var(--DE-menu__menu-line-height)
}

.mod--vertical-menu .mod--menu_underline .md-menu__li-l1 {
    padding-bottom: var(--DE-menu__underline-padding)
}

.adaptive-desktop.mod--horizontal-menu .shop-cart-widget-amount {
    font-size: var(--DE-menu__menu-font-size-hard)
}

.adaptive-desktop.mod--vertical-menu .md-menu--mobile .md-menu__li-l1 a.md-menu__href-l1, .adaptive-tablet.mod--vertical-menu:not(.mod--vertical-menu__tablet-mobile) .md-menu--mobile .md-menu__li-l1 a.md-menu__href-l1 {
    font-size: var(--DE-menu__menu-font-size)
    font-family: var(--DE-common__site-font-name);
}

.adaptive-desktop.mod--horizontal-menu .shop-cart-widget-amount {
    line-height: var(--DE-menu__menu-font-size-other-value)
}

.social-icon-box--header i {
    font-size: var(--DE-menu__menu-font-size-other-value)
}

.adaptive-desktop.mod--horizontal-menu .design_editor-icons svg, .adaptive-desktop.mod--horizontal-menu .design_editor-icons .shop-basket, .adaptive-desktop.mod--vertical-menu.layout-vertical--logo-top--icons-bottom .design_editor-icons svg, .adaptive-desktop.mod--vertical-menu.layout-vertical--logo-top--icons-bottom .design_editor-icons .shop-basket, .adaptive-desktop.mod--vertical-menu.layout-vertical--logo-top--icons-bottom--transparent .design_editor-icons svg, .adaptive-desktop.mod--vertical-menu.layout-vertical--logo-top--icons-bottom--transparent .design_editor-icons .shop-basket {
    width: var(--DE-menu__menu-font-size-other-value);
    height: var(--DE-menu__menu-font-size-other-value)
}

.hamburger-svg-style, .design_editor-icons .search-svg-style, .design_editor-icons .basket-svg-style, .social-icon-box--header i, .adaptive-desktop.mod--vertical-menu .md-menu--mobile .design_editor-icons .search-svg-style, .adaptive-desktop.mod--vertical-menu .md-menu--mobile .design_editor-icons .basket-svg-style, .adaptive-desktop.mod--vertical-menu .md-menu--mobile .close-menu-burger, .adaptive-tablet.layout-vertical--logo-center--icons-bottom.mod--vertical-menu .md-menu--mobile .design_editor-icons .search-svg-style, .adaptive-tablet.layout-vertical--logo-center--icons-bottom.mod--vertical-menu .md-menu--mobile .design_editor-icons .basket-svg-style, .adaptive-tablet.layout-vertical--logo-center--icons-bottom.mod--vertical-menu .md-menu--mobile .close-menu-burger, .de--menu-color {
    stroke: var(--DE-menu__menu-color)
}

.md-menu__main--color, .md-menu__main--color a, .adaptive-desktop .md-menu__main a, .md-menu__separator, .social-icon-box--header i, .shop-cart-widget-amount, .mod--vertical-menu .close-mobile-menu .close-menu-burger, .mod--vertical-menu .md-menu--mobile .md-menu__main a {
    color: var(--DE-menu__menu-color)
}

.mod--vertical-menu .md-menu__hamburger.mod--menu__hamburger-span .md-menu__hamburger-lines span {
    background-color: var(--DE-menu__menu-color)
}

.mod--vertical-menu .md-menu--mobile .mod--menu__shop-category .md-menu__href-l1, .mod--vertical-menu .md-menu--mobile .md-menu__li-l1.active .mod--menu__shop-category .md-menu__href-l1 {
    color: var(--DE-menu__menu-color) !important
}

.mod--vertical-menu .md-menu--mobile .mod--menu__shop-category .md-menu__href-l1 path {
    stroke: var(--DE-menu__menu-color)
}

.de--menu-color__stroke {
    stroke: var(--DE-menu__menu-color)
}

.adaptive-desktop:not(.layout-vertical--logo-top--icons-bottom--transparent) .custom__header-decorate-line:before, .adaptive-tablet .custom__header-decorate-line:before, .adaptive-mobile .custom__header-decorate-line:before {
    border-color: var(--DE-menu__menu-style-link-color) !important
}

header .md-menu__main .md-menu__li-l1.active > a, header .md-menu__main .md-menu__href-l1:hover, .md-menu__main--color:hover, .md-menu__main--color:hover a, .md-menu__main--color:hover i, .mod--vertical-menu .md-menu--mobile .md-menu__main .active > a, .mod--vertical-menu .md-menu--mobile .md-menu__main .md-menu__href-l1:hover, .mod--vertical-menu .md-menu--mobile .md-menu__wrap-l2 .active > a, .mod--vertical-menu .md-menu--mobile .md-menu__wrap-l2 .md-menu__href-l2:hover {
    color: var(--DE-menu__menu-color-hover)
}

.md-menu__main.mod--menu_underline .md-menu__href-l1::after, .md-menu__main.mod--menu_line-through .md-menu__href-l1::after {
    background-color: var(--DE-menu__menu-color-hover)
}

.design_editor-icons:hover .search-svg-style, .design_editor-icons:hover .basket-svg-style, header .social-icon-box:hover i, .adaptive-desktop .md-menu__hamburger:hover .hamburger-svg-style, .mod--vertical-menu .md-menu--mobile .design_editor-icons:hover .search-svg-style, .mod--vertical-menu .md-menu--mobile .design_editor-icons:hover .basket-svg-style {
    stroke: var(--DE-menu__menu-color-hover)
}

.header .social-icon-box:hover i, .design_editor-icons:hover .shop-cart-widget-amount {
    color: var(--DE-menu__menu-color-hover)
}

.mod--vertical-menu .md-menu__hamburger.mod--menu__hamburger-span:hover .md-menu__hamburger-lines span {
    background-color: var(--DE-menu__menu-color-hover)
}

.md-menu__hamburger:hover .hamburger-svg-style {
    fill: var(--DE-menu__menu-color-hover)
}

.mod--vertical-menu .md-menu--mobile .md-menu__li-l1.active .mod--menu__shop-category .md-menu__href-l1.active {
    color: var(--DE-menu__menu-color-hover) !important
}

.mod--vertical-menu .md-menu--mobile .md-menu__li-l1.active .mod--href-l1__shop.has--sub-menu path, .mod--vertical-menu .md-menu--mobile .has--sub-menu.active path {
    stroke: var(--DE-menu__menu-color-hover)
}

.md-menu__main.mod--menu_line-marker .md-menu__href-l1::after {
    background-color: var(--DE-menu__menu-style-link-color-line)
}

.md-menu .menu-item a, .mod--vertical-menu .md-menu__main .menu-item a, .md-menu--mobile .md-menu__li-l1 .md-menu__href-l1, .md-menu--mobile .md-menu__li-l2 .md-menu__href-l2 {
    letter-spacing: var(--DE-menu__menu-letter-spacing)
}

.md-menu__main.mod--menu_underline .md-menu__href-l1::after, .md-menu__main.mod--menu_line-through .md-menu__href-l1::after, .md-menu__main.mod--menu_line-marker .md-menu__href-l1::after {
    right: var(--DE-menu__menu-letter-spacing)
}

.adaptive-desktop.mod--horizontal-menu .md-menu__li-l1:not(:empty), .adaptive-desktop.mod--horizontal-menu .md-menu__has-separator .md-menu__li-l1.md-menu__separator {
    margin-left: calc(var(--DE-menu__menu-item-padding) / 2);
    margin-right: calc(var(--DE-menu__menu-item-padding) / 2)
}

.mod--horizontal-menu .md-menu {
    margin-left: calc((var(--DE-menu__menu-item-padding) / 2) * -1);
    margin-right: calc((var(--DE-menu__menu-item-padding) / 2) * -1)
}

.mod--vertical-menu .md-menu__li-l1:not(:empty) {
    margin-top: var(--DE-menu__menu-item-padding);
    margin-bottom: var(--DE-menu__menu-item-padding)
}

.mod--vertical-menu.adaptive-desktop.layout-vertical--logo-top--icons-bottom .md-menu__main, .mod--vertical-menu.adaptive-desktop.layout-vertical--logo-top--icons-bottom--transparent .md-menu__main {
    margin-top: calc(var(--DE-menu__menu-item-padding) * -1);
    margin-bottom: calc(var(--DE-menu__menu-item-padding) * -1)
}

.mod--vertical-menu .md-menu__li-l2:not(:empty) {
    margin-top: calc(var(--DE-menu__menu-item-padding) * 0.6);
    margin-bottom: calc(var(--DE-menu__menu-item-padding) * 0.6)
}

.l-header__wrapper, .adaptive-desktop[class*=layout] .custom__header-padding-y {
    padding-top: var(--DE-menu__vertical-menu-padding);
    padding-bottom: var(--DE-menu__vertical-menu-padding)
}

.hamburger_menu .hamburger.icon span {
    background-color: var(--DE-menu__menu-color)
}

.md-menu__main .md-menu__href-l2, .adaptive-desktop .md-menu__main .md-menu__href-l2 {
    font-size: var(--DE-menu__submenu-font-size);
    color: var(--DE-menu__submenu-color);
    background: var(--DE-menu__submenu-bg)
}

.mod--vertical-menu .md-menu__wrap-l2 li a {
    font-size: var(--DE-menu__submenu-font-size)
}

.layout-logo-bottom--icons-right--social-left.adaptive-desktop .md-menu__submenu {
    background: var(--DE-menu__submenu-bg)
}

div.hamburger_menuWrap ul > li a {
    color: var(--DE-menu__submenu-color)
}

div.hamburger_menuWrap svg path {
    fill: var(--DE-menu__submenu-color)
}

div.hamburger_menuWrap {
    background: var(--DE-menu__submenu-bg)
}

.md-menu__main .md-menu__wrap-l2 li a:hover, .md-menu__main .md-menu__wrap-l2 li.active a {
    color: var(--DE-menu__submenu-color-active)
}

.mod--horizontal-menu .md-menu--mobile, .adaptive-tablet.mod--horizontal-menu .md-menu--mobile, .adaptive-tablet.mod--horizontal-menu .md-menu--mobile .md-menu__wrap-l2 a, .mod--menu__shop-category, .adaptive-tablet.mod--vertical-menu:not(.layout-vertical--logo-center--icons-bottom) .md-menu--mobile, .adaptive-tablet.mod--vertical-menu .md-menu--mobile .md-menu__wrap-l2 a, .adaptive-mobile.mod--vertical-menu .md-menu--mobile, .adaptive-mobile.mod--vertical-menu .md-menu--mobile .md-menu__wrap-l2 a {
    background-color: var(--DE-menu__mobile-menu-bg)
}

.md-menu--mobile .search-svg-style, .md-menu--mobile .basket-svg-style, .md-menu--mobile .close-menu-burger {
    stroke: var(--DE-menu__mobile-menu-color)
}

.de--menu-color, .mod--horizontal-menu .md-menu--mobile .mod--menu__shop-category .md-menu__href-l1 path {
    stroke: var(--DE-menu__mobile-menu-color)
}

.mod--horizontal-menu .md-menu--mobile .shop-cart-widget-amount, .mod--horizontal-menu .md-menu--mobile .md-menu__href-l1, .mod--horizontal-menu .md-menu--mobile .md-menu__href-l2, .adaptive-tablet.mod--vertical-menu:not(.layout-vertical--logo-center--icons-bottom) .md-menu__href-l1, .adaptive-tablet.mod--vertical-menu:not(.layout-vertical--logo-center--icons-bottom) .md-menu__href-l2, .adaptive-mobile.mod--vertical-menu .md-menu__href-l1, .adaptive-mobile.mod--vertical-menu .md-menu__href-l2 {
    color: var(--DE-menu__mobile-menu-color) !important
}

.mod--horizontal-menu .md-menu--mobile .mod--menu__shop-category .md-menu__href-l1, .mod--horizontal-menu .md-menu--mobile .md-menu__li-l1.active .mod--menu__shop-category .md-menu__href-l1, .mod--vertical-menu .md-menu--mobile .mod--menu__shop-category .md-menu__href-l1, .mod--vertical-menu .md-menu--mobile .md-menu__li-l1.active .mod--menu__shop-category .md-menu__href-l1 {
    color: var(--DE-menu__mobile-menu-color) !important
}

.mod--horizontal-menu .md-menu--mobile .md-menu__li-l1.active .md-menu__href-l1, .mod--horizontal-menu .md-menu--mobile .md-menu__li-l2.active .md-menu__href-l2, .adaptive-tablet.mod--vertical-menu:not(.layout-vertical--logo-center--icons-bottom) .md-menu__li-l1.active .md-menu__href-l1, .adaptive-tablet.mod--vertical-menu:not(.layout-vertical--logo-center--icons-bottom) .md-menu__li-l2.active .md-menu__href-l2, .adaptive-mobile.mod--vertical-menu .md-menu__li-l1.active .md-menu__href-l1, .adaptive-mobile.mod--vertical-menu .md-menu__li-l2.active .md-menu__href-l2 {
    color: var(--DE-menu__mobile-menu-color-active) !important
}

.mod--horizontal-menu .md-menu--mobile .md-menu__li-l1.active .mod--menu__shop-category .md-menu__href-l1.active, .mod--vertical-menu .md-menu--mobile .md-menu__li-l1.active .mod--menu__shop-category .md-menu__href-l1.active {
    color: var(--DE-menu__mobile-menu-color-active) !important
}

.mod--horizontal-menu .md-menu--mobile .md-menu__li-l1.active .mod--href-l1__shop.has--sub-menu path, .mod--horizontal-menu .md-menu--mobile .has--sub-menu.active path, .mod--vertical-menu .md-menu--mobile .md-menu__li-l1.active .mod--href-l1__shop.has--sub-menu path, .mod--vertical-menu .md-menu--mobile .has--sub-menu.active path {
    stroke: var(--DE-menu__mobile-menu-color-active)
}

.searchform__header {
    background-color: var(--DE-search__form-search-bg)
}

.searchform__push .search-svg-style, .de--search__search-icons--stroke {
    stroke: var(--DE-search__search-icons)
}

.searchform__push-input .searchform__after, .searchform__push-input .searchform__before {
    background-color: var(--DE-search__search-icons)
}

.searchform__input, .searchform__input[placeholder], .de--search__search-icons {
    color: var(--DE-search__search-icons)
}

.searchform__input::placeholder {
    color: var(--DE-search__search-icons)
}

.searchform__input::-webkit-input-placeholder, .searchform__input::-moz-placeholder {
    color: var(--DE-search__search-icons)
}

:root {
    --DE-blog__blog-design-preview--blog-width-pixels-editor: px;
    --DE-blog__blog-design-preview--blog-width-percents-editor:%;
    --DE-blog__blog-design-preview--post-date-font: 'Ubuntu';
    --DE-blog__blog-design-preview--post-date-size: 10px;
    --DE-blog__blog-design-preview--post-date-color: rgba(186, 186, 186, 1);
    --DE-blog__blog-design-preview--post-title-font: 'Ubuntu';
    --DE-blog__blog-design-preview--post-title-size: 16px;
    --DE-blog__blog-design-preview--post-title-color: rgba(0, 0, 0, 1);
    --DE-blog__blog-design-preview--text-feed-font: 'Ubuntu';
    --DE-blog__blog-design-preview--text-feed-font-size: 14px;
    --DE-blog__blog-design-preview--text-feed-font-color: #000000;
    --DE-blog__blog-design-preview--tag-font: 'Ubuntu';
    --DE-blog__blog-design-preview--tag-font-size: 11px;
    --DE-blog__blog-design-preview--tag-font-color: 4 d4d4d;
    --DE-blog__blog-design-preview--post-decor-line-color: #ebebeb;
    --DE-blog__blog-design-preview--post-link-read-more-font: '';
    --DE-blog__blog-design-preview--post-link-read-more-size: 14px;
    --DE-blog__blog-design-preview--post-link-read-more-color: rgba(153, 153, 153, 1);
    --DE-blog__blog-design-preview--post-text-read-more-font: '';
    --DE-blog__blog-design-preview--post-text-read-more-size: px;
    --DE-blog__blog-design-preview--post-text-read-more-color:;
    --DE-blog__blog-design-preview--post-button-read-more-color:;
    --DE-blog__blog-design-preview--post-bg-below-preview-color: rgba(250, 250, 250, 1);
    --DE-blog__blog-design-preview--blog-aside-bg-custom: rgba(0, 0, 0, 0);
    --DE-blog__blog-design-preview--post-feed-background-custom: inherit;
    --DE-blog__blog-design-preview--post-feed-preview-space: px;
    --DE-blog__blog-design-preview--post-feed-place-preview-color:;
    --DE-blog__blog-design--blog-width-pixels-editor: px;
    --DE-blog__blog-design--blog-width-percents-editor:%;
    --DE-blog__blog-design--post-bg-custom: inherit;
    --DE-blog__blog-design--post-border: 0px;
    --DE-blog__blog-design--post-border-bg:;
    --DE-blog__blog-design--post-title-font: '';
    --DE-blog__blog-design--post-title-size: 28px;
    --DE-blog__blog-design--post-title-color:;
    --DE-blog__blog-design--post-date-font: '';
    --DE-blog__blog-design--post-date-size: 12px;
    --DE-blog__blog-design--post-date-color:;
    --DE-blog__blog-design--post-elements-color:;
    --DE-blog__blog-design--post-text-font: inherit;
    --DE-blog__blog-design--post-text-font-size: 14px;
    --DE-blog__blog-design--post-text-font-color: #000000;
    --DE-blog__blog-design--post-tags-font: inherit;
    --DE-blog__blog-design--post-tags-font-size: 14px;
    --DE-blog__blog-design--post-tags-font-color:;
    --DE-blog__blog-design--blog-post-line: #ebebeb;
    --DE-blog__blog-design--blog-aside-bg-custom: rgba(0, 0, 0, 0);
    --DE-blog__blog-page-post--blog-post-width-pixels-editor: px;
    --DE-blog__blog-page-post--blog-post-width-percents-editor:%;
    --DE-blog__blog-page-post--page-post-bg-custom: inherit;
    --DE-blog__blog-page-post--post-border: 0px;
    --DE-blog__blog-page-post--page-post-border-bg: rgba(204, 204, 204, 0);
    --DE-blog__blog-page-post--page-blog-post-line: rgba(232, 232, 232, 1);
    --DE-blog__blog-page-post--post-title-font: 'GilroyLight';
    --DE-blog__blog-page-post--post-title-size: 28px;
    --DE-blog__blog-page-post--post-title-color: #000000;
    --DE-blog__blog-page-post--post-date-font: 'Ubuntu';
    --DE-blog__blog-page-post--post-date-size: 10px;
    --DE-blog__blog-page-post--post-date-color: rgba(186, 186, 186, 1);
    --DE-blog__blog-page-post--post-elements-color: #000000;
    --DE-blog__blog-page-post--post-text-font: 'Ubuntu';
    --DE-blog__blog-page-post--post-text-font-size: 12px;
    --DE-blog__blog-page-post--post-text-font-color: #000000;
    --DE-blog__blog-tags--position: center;
    --DE-blog__blog-tags--tag-font: 'Ubuntu';
    --DE-blog__blog-tags--tag-font-size: 14px;
    --DE-blog__blog-tags--tag-font-color: #000000;
    --DE-blog__blog-tags--tag-font-color-active: #525252;
    --DE-blog__blog-slider--height: 55;
    --DE-blog__blog-slider--width: 100%;
    --DE-blog__blog-slider--bg-color: rgba(0, 0, 0, 0.06);
    --DE-blog__blog-slider--pagination-color: #000000;
    --DE-blog__blog-slider--pagination-color-hover: #9e9e9e;
    --DE-blog__blog-slider--arrow-color: #000000;
    --DE-blog__blog-slider--arrow-color-hover: #FFFFFF;
    --DE-blog__blog-slider--title-font: GilroyLight;
    --DE-blog__blog-slider--title-size: 30px;
    --DE-blog__blog-slider--title-color: #ffffff;
    --DE-blog__blog-slider--text-font: GilroyExtraBold;
    --DE-blog__blog-slider--text-size: 14px;
    --DE-blog__blog-slider--text-color: #ffffff;
    --DE-blog__blog-slider--text-color-hover: #2e2e2e
}

body.adaptive-desktop .mod--blog-main-page.mod--blog-type-view-classic > .container {
    max-width: var(--DE-blog__blog-design--blog-width-pixels-editor)
}

body.adaptive-desktop .mod--blog-main-page.mod--blog-type-view-preview > .container {
    max-width: var(--DE-blog__blog-design-preview--blog-width-pixels-editor)
}

body.adaptive-desktop .mod--blog-article-page > .container {
    max-width: var(--DE-blog__blog-page-post--blog-post-width-pixels-editor)
}

.blog-post.mod--one {
    background: var(--DE-blog__blog-page-post--page-post-bg-custom);
    border-color: var(--DE-blog__blog-page-post--page-post-border-bg);
    border-width: var(--DE-blog__blog-page-post--post-border)
}

.blog-content article.post hr {
    border-bottom-color: var(--DE-blog__blog-page-post--page-blog-post-line)
}

.blog-content .blog-comments {
    border-top-color: var(--DE-blog__blog-page-post--page-blog-post-line)
}

.blog-content article.post .share-links ul {
    border-color: var(--DE-blog__blog-page-post--page-blog-post-line) !important
}

.mod--font-none-preset .blog-post.mod--one .blog-post__href {
    font-family: var(--DE-blog__blog-page-post--post-title-font);
    font-size: var(--DE-blog__blog-page-post--post-title-size)
}

.blog-post.mod--one .blog-post__href {
    color: var(--DE-blog__blog-page-post--post-title-color) !important
}

.mod--font-none-preset .blog-post.mod--one .blog-post__date {
    font-family: var(--DE-blog__blog-page-post--post-date-font);
    font-size: var(--DE-blog__blog-page-post--post-date-size)
}

.blog-post.mod--one .blog-post__date {
    color: var(--DE-blog__blog-page-post--post-date-color)
}

.blog-post.mod--one .view1 .date:before, .blog-post.mod--one .view1 .date:after, .blog-post.mod--one .view7 .blog-post__title:before, .blog-post.mod--one .view7 .blog-post__title:after, .blog-post.mod--one .view7 .blog-post__href:before, .blog-post.mod--one .view7 .blog-post__href:after {
    background: var(--DE-blog__blog-page-post--post-elements-color)
}

.blog-post.mod--one .view6 .blog-post__href span, .blog-post.mod--one .view6 .blog-post__title .blog-post__href {
    border-color: var(--DE-blog__blog-page-post--post-elements-color)
}

.mod--font-none-preset .blog-content:not(.composite-content).blog-type-post .items article.post .text-box, .mod--font-none-preset .blog-sidebar-box .blog-sidebar .aside .widget .text-box, .mod--font-none-preset .blog-content:not(.composite-content).blog-mobile .items article.post .text-box {
    font-size: var(--DE-blog__blog-page-post--post-text-font-size);
    line-height: 1.3;
    font-family: var(--DE-blog__blog-page-post--post-text-font)
}

.blog-content:not(.composite-content).blog-type-post .items article.post .text-box, .blog-sidebar-box .blog-sidebar .aside .widget .text-box, .blog-content:not(.composite-content).blog-mobile .items article.post .text-box, .blog-content:not(.composite-content) .items article.post .text-box.nocolumns {
    color: var(--DE-blog__blog-page-post--post-text-font-color) !important
}

.mod--font-none-preset .feedWrap .bgi_date {
    font-size: var(--DE-blog__blog-design-preview--post-date-size) !important;
    font-family: var(--DE-blog__blog-design-preview--post-date-font) !important
}

.feedWrap span.bgi_date {
    color: var(--DE-blog__blog-design-preview--post-date-color) !important
}

.mod--font-none-preset .feedWrap h2 {
    font-size: var(--DE-blog__blog-design-preview--post-title-size) !important;
    font-family: var(--DE-blog__blog-design-preview--post-title-font) !important
}

.feedWrap h2 {
    color: var(--DE-blog__blog-design-preview--post-title-color) !important
}

.mod--font-none-preset .feedWrap span.bgi_tag a, .feedWrap .bgi_description .bgi_tag a {
    font-size: var(--DE-blog__blog-design-preview--tag-font-size) !important;
    font-family: var(--DE-blog__blog-design-preview--tag-font) !important
}

.feedWrap span.bgi_tag a, .feedWrap .bgi_description .bgi_tag a {
    color: var(--DE-blog__blog-design-preview--tag-font-color) !important
}

.adaptive-desktop .blog-layout-6 .feedWrap span.bgi_date {
    font-size: var(--DE-blog__blog-design-preview--tag-font-size) !important;
    font-family: var(--DE-blog__blog-design-preview--tag-font) !important
}

.adaptive-desktop .blog-layout-6 .feedWrap span.bgi_date {
    color: var(--DE-blog__blog-design-preview--tag-font-color) !important
}

.adaptive-desktop .blog-layout-4 .feedWrap span.bgi_date {
    font-size: var(--DE-blog__blog-design-preview--tag-font-size) !important;
    font-family: var(--DE-blog__blog-design-preview--tag-font) !important
}

.adaptive-desktop .blog-layout-4 .feedWrap span.bgi_date {
    color: var(--DE-blog__blog-design-preview--tag-font-color) !important
}

.blog_grid_item:after {
    background: var(--DE-blog__blog-design-preview--post-decor-line-color) !important
}

.adaptive-desktop .blog-layout-4 .bgi_border {
    border-color: var(--DE-blog__blog-design-preview--post-decor-line-color) !important
}

.blog-layout-10 .blog_grid_item.type_1, .blog-layout-10 .blog_grid_item.type_5, .blog-layout-10 .blog_grid_item.type_3, .blog-layout-10 .blog_grid_item.type_6, .feedWrap:not(.mid) .blog_grid_item.sided div.bgi_description:after {
    border-color: var(--DE-blog__blog-design-preview--post-decor-line-color) !important
}

.feedWrap.mid .blog_grid_item.sided div.bgi_description:before, .feedWrap.mid .blog_grid_item.sided div.bgi_description:after, .blog_grid_item.centered .bgi_description:before, .blog_grid_item.centered .bgi_description:after {
    background: var(--DE-blog__blog-design-preview--post-decor-line-color) !important
}

#liner {
    color: var(--DE-blog__blog-design-preview--post-decor-line-color)
}

.blog-layout-1 #liner {
    background-color: var(--DE-blog__blog-design-preview--post-decor-line-color)
}

.blog-layout-1 .blog-item__arrow svg {
    fill: var(--DE-blog__blog-design-preview--post-decor-line-color)
}

.mod--font-none-preset .bgi_fields.readMore a {
    font-size: var(--DE-blog__blog-design-preview--post-link-read-more-size) !important;
    font-family: var(--DE-blog__blog-design-preview--post-link-read-more-font) !important
}

.bgi_fields.readMore a {
    color: var(--DE-blog__blog-design-preview--post-link-read-more-color) !important
}

.mod--font-none-preset .feedWrap a.btnRect {
    font-size: var(--DE-blog__blog-design-preview--post-text-read-more-size) !important;
    font-family: var(--DE-blog__blog-design-preview--post-text-read-more-font) !important
}

.feedWrap a.btnRect {
    color: var(--DE-blog__blog-design-preview--post-text-read-more-color) !important;
    background: var(--DE-blog__blog-design-preview--post-button-read-more-color) !important
}

.adaptive-desktop .blog-layout-7 .feedWrap .bgi_imageHold, .adaptive-desktop .blog-layout-7 .blog_grid_item, .adaptive-desktop .blog-layout-7 .feedWrap .bgi_description, .adaptive-desktop .blog-layout-7 .feedWrap .bgi_date {
    background-color: var(--DE-blog__blog-design-preview--post-bg-below-preview-color) !important
}

.blog-content.blog-type-preview .blog-sidebar, .mod--blog-type-view-preview .blog-content.blog-type-post .blog-sidebar {
    background-color: var(--DE-blog__blog-design-preview--blog-aside-bg-custom)
}

.blog-content.blog-type-classic .blog-sidebar, .mod--blog-type-view-classic .blog-content.blog-type-post .blog-sidebar {
    background-color: var(--DE-blog__blog-design--blog-aside-bg-custom)
}

.mod--font-none-preset .feedWrap .bgi_description p, .mod--font-none-preset .blog_grid_item .bgi_textWrap, .mod--font-none-preset .blog_grid_item p, .mod--font-none-preset .feedWrap .bgi_description .preview-desc {
    font-family: var(--DE-blog__blog-design-preview--text-feed-font) !important;
    font-size: var(--DE-blog__blog-design-preview--text-feed-font-size) !important
}

.feedWrap .bgi_description p, .blog_grid_item .bgi_textWrap, .blog_grid_item p, .feedWrap .bgi_description .preview-desc {
    color: var(--DE-blog__blog-design-preview--text-feed-font-color) !important
}

.blog-layout-9 #iso_grid {
    background: var(--DE-blog__blog-design-preview--post-feed-background-custom)
}

.blog-mobile .preview-layout-9 .feedWrap {
    background: var(--DE-blog__blog-design-preview--post-feed-background-custom)
}

.blog-layout-5 .blog_grid_item.clearfix {
    margin-top: var(--DE-blog__blog-design-preview--post-feed-preview-space)
}

.blog-layout-5 .blog_grid_item .place {
    background-color: var(--DE-blog__blog-design-preview--post-feed-place-preview-color) !important
}

.blog-type-classic article {
    background: var(--DE-blog__blog-design--post-bg-custom);
    border-color: var(--DE-blog__blog-design--post-border-bg);
    border-width: var(--DE-blog__blog-design--post-border)
}

.blog-type-classic ul.tools > li.share-links > ul {
    background: var(--DE-blog__blog-design--post-bg-custom)
}

.blog-type-classic article hr, .blog-content.blog-type-classic article hr {
    border-bottom-color: var(--DE-blog__blog-design--blog-post-line)
}

.blog-type-classic article .share-links ul {
    border-color: var(--DE-blog__blog-design--blog-post-line) !important
}

.mod--font-none-preset .blog-type-classic .blog-post__href {
    font-family: var(--DE-blog__blog-design--post-title-font);
    font-size: var(--DE-blog__blog-design--post-title-size)
}

.blog-type-classic .blog-post__href {
    color: var(--DE-blog__blog-design--post-title-color)
}

.mod--font-none-preset .blog-type-classic .blog-post__date {
    font-family: var(--DE-blog__blog-design--post-date-font);
    font-size: var(--DE-blog__blog-design--post-date-size)
}

.blog-type-classic .blog-post__date {
    color: var(--DE-blog__blog-design--post-date-color)
}

.adaptive-desktop .blog-type-classic .blog-title-view.view1 .blog-post__date:before, .adaptive-desktop .blog-type-classic .blog-title-view.view1 .blog-post__date:after, .adaptive-desktop .blog-type-classic .blog-title-view.view7 a:before, .adaptive-desktop .blog-type-classic .blog-title-view.view7 a:after {
    background: var(--DE-blog__blog-design--post-elements-color)
}

.blog-type-classic .view6 .blog-post__href span {
    border-color: var(--DE-blog__blog-design--post-elements-color)
}

.blog-type-classic .post-body .text-box {
    color: var(--DE-blog__blog-design--post-text-font-color)
}

.mod--font-none-preset .blog-type-classic .post-body .text-box {
    font-family: var(--DE-blog__blog-design--post-text-font);
    font-size: var(--DE-blog__blog-design--post-text-font-size)
}

.blog-type-classic .tags li a, .blog-type-classic .tags li:after {
    color: var(--DE-blog__blog-design--post-tags-font-color)
}

.mod--font-none-preset .blog-type-classic .tags li a, .mod--font-none-preset .blog-type-classic .tags li:after {
    font-family: var(--DE-blog__blog-design--post-tags-font);
    font-size: var(--DE-blog__blog-design--post-tags-font-size)
}

.blog-content .tags-top {
    text-align: var(--DE-blog__blog-tags--position)
}

.blog-content .tags-top li a {
    color: var(--DE-blog__blog-tags--tag-font-color)
}

.mod--font-none-preset .blog-content .tags-top li a {
    font-family: var(--DE-blog__blog-tags--tag-font);
    font-size: var(--DE-blog__blog-tags--tag-font-size);
    line-height: var(--DE-blog__blog-tags--tag-font-size)
}

.blog-content .tags-top li a:hover, .blog-content .tags-top li.active a {
    color: var(--DE-blog__blog-tags--tag-font-color-active)
}

#blog_sliderWrp, #bsl_container.locked {
    max-width: var(--DE-blog__blog-slider--width)
}

#blog_sliderWrp .bsl_content h2 {
    color: var(--DE-blog__blog-slider--title-color)
}

#blog_sliderWrp .bsl_content p {
    color: var(--DE-blog__blog-slider--text-color)
}