.confirm-dialog {

  border: unset;
  padding: 0;
  
  border-radius: 10px;
  min-width: 400px;
  min-height: 200px;

}

.confirm-dialog .buttons {
  display: flex;

  margin-top: 10px;

  position: absolute;
  bottom: 30px;
  right: 30px;


}
.confirm-dialog .dialog-title {

  margin-top: 0;
  text-align: center;
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.confirm-dialog .buttons a {
  margin-left: 25px;
  color: black;

}


.image-dialog {
  height: 100%;
  border: unset;
  padding: 0;
  border-radius: 10px;


}

.image-dialog .top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-dialog img {
  display: block;
  margin: 0 auto;
  padding: 10px;

  height: 90%;
}
.image-dialog span {
  font-size: 24px;
  margin: 10px 
}
.image-dialog .close-image-dialog-button {
  position: absolute;
  top: 0;
  font-size: 30px;
  color: black;
  margin: 10px;
  right: 0;
}
.image-dialog .download-image-button {
  position: absolute;
  top: 0;
  font-size: 25px;
  color: black;
  margin: 10px;
  left: 0;

}

@media only screen and (max-width: 992px) {
  .image-dialog img {
    height: auto;
    width: 100%;
  }
  .image-dialog {
    height: 70%;
    width: 100%;
    padding: 0;
  }
  .confirm-dialog {
    min-width: unset;
  }
}