

.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 30px 10px;
    background-color: #f2f2f2;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: 0px  0px 15px darkgray;
}
.error {
    display: block;
    color: red;
    text-align: center;
    margin-top: 10px;
}
.form-block h1 {
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}
.form-block form {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column
}
input[type=text] {

    border: 1px solid #b1b1b1;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
p {
    white-space: nowrap;
    margin-top: 30px;
    text-align: center;
}

input[type="url"] {

    border: 1px solid #b1b1b1;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
}
input[type="password"] {

    border: 1px solid #b1b1b1;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
}

input[type=submit] {
    margin: 30px auto;
    color: white;
    padding: 14px 30%;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
label {
    margin-top: 20px;
    font-size: large;
    text-align: center;
}


@media only screen and (max-width: 992px) {

    .form-block {
        width: 95%;

    }
    .form-block h1 {
        font-weight: normal;
    }
}
