
.title {
    
    display: flex;
    justify-content: center;
}

.news-list {
    display: flex;
    position: absolute;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    transition: .5s ease-in-out;
}

.news-date {

    font-size: 23px;

}

.title-block {
  font-size: 24px;
  margin-bottom: 10px;

  vertical-align: top;
  display: inline;
} 
#news-blocks {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    align-items: center;
}

.item-block {
    display: block;
    width: 250px ;
    margin: 10px;

}

.news {
    display: block;
    margin-left: 10px;
    vertical-align: top;

}

.news-body {
    overflow: hidden;
    white-space: normal;
    margin-top: 10px;
    margin-bottom: 40px;
    max-height: 80px


}

.news-body p{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: normal;
}



.tools a {
    display: flex;
    white-space: nowrap;
    justify-content: flex-end;
    margin-left: 10px;
}

.tools {
    display: flex;
    align-items: center;
}


.view-all {
    font-size: 16px;

    display: flex;
    color: black;
    font-weight: bold;
    align-items: flex-end;
}

.cover {

    display: block;
    border-top: 10px;
    width: 100%;
    transition: .5s ease-in-out;


}
.i {
   font-size:24px
}

/* mobile */
@media only screen and (max-width: 992px) { 


    .item-block {

        width: 40vw;

    
    }






}

