.loader__IdK8N {
    -webkit-animation: rotate__26A9K 2s linear infinite;
    animation: rotate__26A9K 2s linear infinite;
    transform-origin: center center
}

.circle__1_lxm {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    -webkit-animation: dash__2OHef 1.5s ease-in-out infinite;
    animation: dash__2OHef 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #000
}

@-webkit-keyframes rotate__26A9K {
    to {
        transform: rotate(1turn)
    }
}

@keyframes rotate__26A9K {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes dash__2OHef {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35
    }
    to {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124
    }
}

@keyframes dash__2OHef {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35
    }
    to {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124
    }
}

.header__BIIKB {
    margin: 0 0 12px
}

.error-message__3w-3q {
    display: block !important
}

.isError__kNXOD {
    border-color: #c23c40 !important
}

.modal__3hR98 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .2s;
    z-index: 100
}

.visible__1V7Ua {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.root__1O19r {
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex
}

.close__11T4X, .root__1O19r {
    background-color: transparent
}

.close__11T4X {
    border: 0;
    padding: 0;
    margin: 0
}

.close__11T4X:active, .close__11T4X:focus {
    outline: none
}

.button__2Zc0O {
    background-color: transparent;
    border: 0
}

.button__2Zc0O:active, .button__2Zc0O:focus {
    outline: none
}

.visible__2U5OS {
    width: 100%;
    display: block !important
}

.hidden__2K3Cx {
    display: none !important
}

.error__1-tje {
    color: #c91f20 !important
}

.error__1-tje, .success__ulzfu {
    display: block !important
}

.total__1Kpti {
    position: relative
}

.price__3xFmN {
    margin-left: auto
}

.loader__3YphP {
    position: absolute;
    top: calc(50% - 7px);
    right: calc(-4% - 23px);
    z-index: 1
}

@media screen and (max-width: 767px) {
    .loader__3YphP {
        right: -16px
    }
}

.error__1KXY7, .error__1KXY7 .selectize-input {
    border-color: #c23c40 !important
}

.errorWithText__2cJLT {
    color: #c23c40 !important
}

.visible__3axg9 {
    display: block !important
}

.transparent__3NHSa {
    visibility: hidden;
    opacity: 0
}

.disabler__2ys8L {
    display: inline-block;
    width: var(--DE-form-settings__button-fullwidth);
    cursor: not-allowed
}

.disabler__2ys8L .button__GzdYH {
    pointer-events: none;
    opacity: .65
}

.sizer__2bm6U, .sizer__2bm6U .disabler__2ys8L {
    display: block !important
}

.sizer__2bm6U .button__GzdYH {
    width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important
}

.text__23N-p {
    position: relative
}

.loader__2yhVm {
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    z-index: 1
}

.formInputBlock__21gpo, .input__3j6V7 {
    max-width: 360px
}

.formInputBlockDropDown__2Xc1f {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding: 10px 0 20px;
    border-top: 0 !important;
    margin: -5px 0 0
}

.isActive__289wj {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.isMoved__2eCHH {
    font-size: var(--DE-form-settings__field-label-font-size) !important;
    top: 0 !important;
    margin-top: 0 !important
}

.parameter__1knOE {
    font-family: inherit;
    border-radius: 11px;
    background-color: #eee;
    border-width: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    white-space: nowrap;
    padding: 3px 10px;
    font-size: 11px;
    line-height: 16px;
    transition-duration: .2s;
    transition-property: background-color, color
}

.parameter__1knOE:hover {
    cursor: pointer
}

.parameter__1knOE:focus {
    outline: none
}

.isActive__3l67Y {
    background-color: #000;
    color: #fff
}

.header__CsGl9 {
    border-bottom: 1px solid #eee;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 13px
}

@media (max-width: 1024px) {
    .header__CsGl9 {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media (max-width: 767px) {
    .header__CsGl9 {
        margin-right: 20px;
        margin-left: 20px
    }
}

.title__1qwWy {
    line-height: 1;
    margin: 0 0 12px
}

.parameters__31BGK {
    margin-top: 20px
}

@media (max-width: 1024px) {
    .parameters__31BGK {
        height: 0;
        margin-top: 0;
        visibility: hidden;
        pointer-events: none
    }
}

.dragger__tnPzq {
    display: none;
    width: 24px;
    height: 2px;
    border-radius: 2px;
    background-color: #dcdcdc;
    border: 0;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 8px;
    transform: translateX(-50%)
}

.dragger__tnPzq:active, .dragger__tnPzq:focus, .dragger__tnPzq:hover {
    cursor: -webkit-grab;
    cursor: grab
}

@media (max-width: 1024px) {
    .dragger__tnPzq {
        display: block
    }
}

.options__2IjYS {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    overflow-y: scroll
}

.options__2IjYS::-webkit-scrollbar {
    width: 0;
    height: 0
}

@media (max-width: 1024px) {
    .options__2IjYS {
        flex-wrap: nowrap
    }
}

.footer__3kl3u {
    border-top: 1px solid #eee;
    padding: 25px
}

@media (max-width: 1024px) {
    .footer__3kl3u {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        border-top: 1px solid transparent
    }
}

@media (max-width: 767px) {
    .footer__3kl3u {
        padding: 15px 20px 20px
    }
}

.location__3h_35 {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start
}

.location__3h_35 span {
    display: inline-block;
    margin-right: 8px;
    min-width: 10px
}

.location__3h_35 svg {
    margin-top: 3px
}

.footer__3kl3u .button__SjJ2z {
    width: 100% !important;
    text-align: center !important;
    border: 0;
    background-color: transparent;
    font-family: var(--DE-form-settings__button-font) !important;
    font-size: var(--DE-form-settings__button-font-size) !important;
    font-weight: var(--DE-form-settings__button-text-style) !important;
    font-style: var(--DE-form-settings__button-text-style) !important;
    letter-spacing: var(--DE-form-settings__button-letter-spacing);
    padding-top: 20px;
    padding-bottom: 20px
}

@media (max-width: 1024px) {
    .footer__3kl3u .button__SjJ2z {
        width: auto !important
    }
}

@media (max-width: 767px) {
    .footer__3kl3u .button__SjJ2z {
        width: 100% !important
    }
}

.loader__2deRX {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: hsla(0, 0%, 100%, .85);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s
}

.loader__2deRX .circle__28aSE {
    stroke: #cdcbc6
}

.loader__2deRX .svg__2DtWE {
    width: 30px;
    height: 30px
}

.isActive__3yYfd {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.details__7xTtK {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 5;
    overflow: auto;
    padding-bottom: 25px;
    transition: all .2s;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none
}

.details__7xTtK::-webkit-scrollbar {
    width: 14px;
    height: 0
}

.details__7xTtK::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: #ccc;
    border-radius: 8px
}

.details__7xTtK::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.details__7xTtK::-webkit-scrollbar-corner {
    background-color: transparent
}

.details__7xTtK::-webkit-scrollbar-thumb {
    height: 50px
}

@media (max-width: 1024px) {
    .details__7xTtK {
        overflow: hidden
    }
}

.isVisible__2kb8w {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
    transition: all .35s
}

.header__1uZdK {
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px 0
}

.header__1uZdK span {
    display: block;
    margin-left: 15px
}

.header__1uZdK:before {
    content: "";
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 0;
    height: 1px;
    background-color: #eee
}

@media (max-width: 1024px) {
    .header__1uZdK:before {
        left: 40px;
        right: 40px
    }
}

@media (max-width: 768px) {
    .header__1uZdK:before {
        left: 20px;
        right: 20px
    }
}

.content__2QuHD {
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #111;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px
}

@media (max-width: 1024px) {
    .content__2QuHD {
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 50px;
        overflow-y: auto
    }
}

@media (max-width: 768px) {
    .content__2QuHD {
        padding-left: 20px;
        padding-right: 20px
    }
}

.back__1xx76 {
    display: inline-block;
    background-color: transparent;
    border: 0;
    margin-left: 25px;
    transition: all .2s
}

.back__1xx76:hover {
    cursor: pointer;
    transform: translateX(-6px)
}

.back__1xx76:focus {
    outline: none
}

@media (max-width: 1024px) {
    .back__1xx76 {
        margin-left: 40px
    }
}

@media (max-width: 768px) {
    .back__1xx76 {
        margin-left: 20px
    }
}

.infoLine__2Ra7a {
    font-size: 11px;
    display: block
}

.name__2CPt2 {
    display: block;
    margin-bottom: 1px
}

.option__3ucUK {
    margin-bottom: 25px
}

.option__3ucUK:last-child {
    margin-bottom: 0
}

.option__3ucUK label {
    display: block;
    padding-left: 30px;
    position: relative
}

.option__3ucUK label:before {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0 0 0 7px #fff, 0 0 0 8px #c9c7c1
}

.radio__K8Dzu:checked + label:before {
    background: #4c4c4c;
    box-shadow: 0 0 0 7px #fff, 0 0 0 8px #c9c7c1
}

.name__R98AW {
    line-height: 18px
}

.infoBlock__31k4i {
    font-size: 11px
}

.address__1QgyJ p, .minMaxDay__2dn9V p, .workTime__2vY3h p {
    font-size: 11px;
    margin: 0;
    color: #111;
    line-height: 18px
}

.moreDetails__1MtFA {
    font-family: inherit;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    padding: 0;
    margin: 9px 0 0
}

.moreDetails__1MtFA:hover {
    text-decoration: none;
    cursor: pointer
}

.moreDetails__1MtFA:focus {
    outline: none
}

.body__-TJiB {
    position: relative;
    overflow-y: scroll;
    padding: 25px;
    height: 100%
}

@media (max-width: 1024px) {
    .body__-TJiB {
        height: 0;
        padding: 0 40px;
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .body__-TJiB {
        padding-left: 20px;
        padding-right: 20px
    }
}

.body__-TJiB::-webkit-scrollbar {
    width: 14px;
    height: 0
}

.body__-TJiB::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: #ccc;
    border-radius: 8px
}

.body__-TJiB::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.body__-TJiB::-webkit-scrollbar-corner {
    background-color: transparent
}

.body__-TJiB::-webkit-scrollbar-thumb {
    height: 50px
}

.options__2AnAZ {
    position: relative
}

.isLoading__cLWuc {
    overflow: hidden !important
}

.map__3y1hW {
    width: calc(100% - 350px);
    height: 100%;
    position: relative
}

@media (max-width: 1024px) {
    .map__3y1hW {
        width: 100%
    }
}

.close__1xY9u {
    position: absolute;
    top: 14px;
    right: 14px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    opacity: .8;
    transition: all .2s
}

.close__1xY9u:hover {
    cursor: pointer;
    opacity: 1
}

.close__1xY9u:focus {
    outline: none
}

.blackout__Q4_OP {
    display: none;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s
}

@media (max-width: 1024px) {
    .blackout__Q4_OP {
        display: block
    }
}

.isActive__2Ch-V {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.backFon__Z_wPP {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 15
}

.root__erXsy {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    will-change: transform;
    z-index: 15;
    width: 90%;
    height: 75%;
    background-color: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .14);
    display: flex;
    overflow: hidden
}

@media (max-width: 1024px) {
    .root__erXsy {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: none;
        width: 100%;
        height: 100%;
        max-height: 100%;
        flex-direction: column-reverse
    }
}

.selector__3hlHv {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative
}

@media (max-width: 1024px) {
    .selector__3hlHv {
        width: 100%;
        height: auto;
        overflow: visible;
        overflow: initial;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
        background-color: #fff;
        max-height: calc(100% - 30px)
    }
}

.errorText__3G_TX {
    color: #c23c40;
    font-size: 13px
}

.scrollsHiddenInput__2_6Wc {
    position: absolute;
    z-index: -1;
    height: 5px;
    margin-top: 5px
}

.block__1_KHZ {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px
}

.block__1_KHZ .errorMessage__2WAX5 {
    flex: 0 0 100%;
    margin-top: 5px
}

.inner__E4FR3 {
    margin-left: 8px
}

.inner__E4FR3, .innerWithPoint__EnTiO {
    display: flex;
    flex-direction: column
}

.pin__qa2IZ {
    display: flex;
    align-items: center;
    margin-top: 2px
}

.pinInversion__2p4ag {
    mix-blend-mode: difference
}

.point__31nDm {
    margin-left: 8px;
    margin-bottom: 3px
}

.button__3SrAT {
    cursor: pointer;
    text-decoration: underline
}

.button__3SrAT:hover {
    text-decoration: none
}

.buttonMarginLeft__3OOhL {
    margin-left: 19px
}

.disabler__3sOEz {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none
}

.errorMessage__1zjE6 {
    display: inline-block;
    font-size: 13px
}

.warning__2YP6P, .warning__3g-cl {
    margin-top: 8px
}

.footer__38yBa {
    padding: 22px 25px;
    position: relative;
    z-index: 0
}

@media (max-width: 767px) {
    .footer__38yBa {
        padding: 20px
    }
}

.form__1FwUi {
    padding-top: 21px !important
}

.button__17IzV {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0 !important
}

.total__2zIbj {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.total__2zIbj span {
    margin-bottom: 0 !important
}

.totalPrice__BtjAj {
    text-align: right
}

.header__3rfoO {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 25px
}

@media (max-width: 767px) {
    .header__3rfoO {
        padding: 20px
    }
}

.close__2AWRU {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    mix-blend-mode: difference;
    -webkit-filter: invert(1);
    filter: invert(1);
    outline: none
}

.close__2AWRU:active, .close__2AWRU:hover {
    cursor: pointer
}

@supports not (mix-blend-mode:difference) {
    .close__2AWRU {
        -webkit-filter: invert(0);
        filter: invert(0)
    }
}

.title__2YZ7p {
    margin-bottom: 0 !important
}

@media (min-width: 767px) {
    .count__1fwKJ {
        display: none
    }
}

.product__2-ASa {
    display: flex;
    margin-bottom: 35px;
    max-height: 1024px;
    width: 300px
}

@media (max-width: 767px) {
    .product__2-ASa {
        width: auto;
        max-width: 145px;
        max-height: none
    }
}

.product__2-ASa:last-child {
    margin-bottom: 0
}

@media (max-width: 767px) {
    .product__2-ASa {
        flex-direction: column;
        margin-bottom: 0;
        border-right: 15px solid transparent
    }
}

@media (min-width: 767px) {
    .isNewProduct__3Mt4n {
        max-height: 0;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-animation-name: newProductAppearing__2OYqi;
        animation-name: newProductAppearing__2OYqi;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        overflow-y: hidden
    }
}

@-webkit-keyframes newProductAppearing__2OYqi {
    0% {
        max-height: 0
    }
    to {
        max-height: 1024px
    }
}

@keyframes newProductAppearing__2OYqi {
    0% {
        max-height: 0
    }
    to {
        max-height: 1024px
    }
}

.isProductRemoved__2QkZr {
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
    max-height: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: hidden;
    margin-bottom: 0
}

.linkToProduct__3XKN7 {
    display: block;
    margin-right: 20px;
    width: 72px;
    height: 72px
}

@media (max-width: 767px) {
    .linkToProduct__3XKN7 {
        width: 130px;
        height: 130px;
        margin-right: 0
    }
}

.photo__3hheq {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .35s
}

.isPhotoLoaded__1NYxi {
    opacity: 1
}

.info__1k_Hs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .info__1k_Hs {
        margin-bottom: 10px
    }
}

.delete__3Sad8 {
    background-color: transparent;
    border: 0;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 0 0 15px;
    outline: none;
    mix-blend-mode: difference;
    -webkit-filter: invert(1);
    filter: invert(1)
}

.delete__3Sad8:active, .delete__3Sad8:hover {
    cursor: pointer
}

@supports not (mix-blend-mode:difference) {
    .delete__3Sad8 {
        -webkit-filter: invert(0);
        filter: invert(0)
    }
}

@media (max-width: 767px) {
    .delete__3Sad8 {
        display: none
    }
}

.options__28QzC {
    display: flex;
    flex-direction: column
}

.option__2Rt3F {
    margin-top: 2px
}

@media (max-width: 767px) {
    .option__2Rt3F {
        display: none
    }
}

.pane__1M6Ae {
    width: 100%
}

@media (max-width: 767px) {
    .pane__1M6Ae {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between
    }
}

.total__1RBmM {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.quantity__3AYPq {
    padding-top: 0 !important;
    text-align: left !important
}

@media (max-width: 767px) {
    .quantity__3AYPq {
        display: none
    }
}

.quantityBox__1LvOG {
    margin-right: 0 !important;
    margin-bottom: 0 !important
}

.input__3WgDv {
    border-width: var(--DE-form-settings__field-border-width)
}

.input__3WgDv:invalid {
    box-shadow: none
}

.isError__3lZX4 {
    border-color: #c23c40 !important
}

.available__6SnWb {
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.38;
    margin-top: 11px !important
}

@media (max-width: 767px) {
    .available__6SnWb {
        display: none
    }
}

@media (max-width: 767px) {
    .name__2toXC {
        line-height: 1.4em;
        max-height: 4.2em;
        overflow: hidden
    }
}

:root {
    --MINICART-size__default-body-height: 435px;
    --MINICART-size__max-body-height: 435px
}

.body__1WC7K {
    padding: 0 25px 22px;
    max-height: 435px;
    max-height: var(--MINICART-size__max-body-height);
    overflow-y: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    transition: border .4s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent
}

.body__1WC7K::-webkit-scrollbar {
    width: 14px;
    height: 0
}

.body__1WC7K::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: #ccc;
    border-radius: 8px
}

.body__1WC7K::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.body__1WC7K::-webkit-scrollbar-corner {
    background-color: transparent
}

.body__1WC7K::-webkit-scrollbar-thumb {
    height: 50px
}

@media (max-width: 767px) {
    .body__1WC7K::-webkit-scrollbar {
        width: 0;
        background: transparent;
        scrollbar-width: none;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch
    }
}

@media (max-width: 767px) {
    .body__1WC7K {
        padding: 0 20px 20px;
        max-height: 50vh;
        display: flex;
        overflow-y: visible;
        overflow-y: initial;
        overflow-x: auto
    }
}

.scrollUp__1EvLt {
    border-bottom: 1px solid #eee
}

.scrollDown__3imaM {
    border-top: 1px solid #eee
}

.isWithoutVerticalScrolling__3OO0U {
    border-bottom: 1px solid #eee !important;
    border-top: 1px solid transparent !important
}

.isEmpty__3l2I8 {
    margin-bottom: 0;
    margin-top: 0
}

.isEmpty__3l2I8:active, .isEmpty__3l2I8:hover {
    cursor: default
}

.custom-scroll__2LVxx::-webkit-scrollbar {
    width: 14px;
    height: 0
}

.custom-scroll__2LVxx::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: #ccc;
    border-radius: 8px
}

.custom-scroll__2LVxx::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

.custom-scroll__2LVxx::-webkit-scrollbar-corner {
    background-color: transparent
}

.custom-scroll__2LVxx::-webkit-scrollbar-thumb {
    height: 50px
}

@media (max-width: 767px) {
    .custom-scroll__2LVxx::-webkit-scrollbar {
        width: 0;
        background: transparent;
        scrollbar-width: none;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch
    }
}

.minicart__2dOWG {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .14);
    transform: translateY(5%);
    position: fixed;
    z-index: 105;
    width: 350px
}

.isVisible__11t2g, .minicart__2dOWG {
    transition-duration: .2s;
    transition-property: opacity, transform, visibility
}

.isVisible__11t2g {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0)
}

@media (max-width: 1024px) {
    .withDefaultBreakpoint__3rC9s {
        left: auto !important;
        right: 40px !important;
        bottom: auto !important
    }
}

@media (max-width: 767px) {
    .withDefaultBreakpoint__3rC9s {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        top: auto !important
    }
}

@media (max-width: 1024px) {
    .withExtraBreakpoint__3cih7 {
        left: auto;
        right: auto;
        bottom: auto;
        top: auto
    }
}

@media (max-width: 767px) {
    .withExtraBreakpoint__3cih7 {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        top: auto !important
    }
}

@media (max-width: 1024px) {
    .isHomePage__1TBcA {
        left: auto;
        right: auto;
        bottom: auto;
        top: auto
    }
}

@media (max-width: 767px) {
    .isHomePage__1TBcA {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        top: auto !important
    }
}

.positionFixed__1wwUe {
    position: fixed
}

.positionAbsolute__2FGur {
    position: absolute
}

.empty__1fAWa {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #111
}

.header__25O5N {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition: border .3s
}

@media (max-width: 767px) {
    .blackout__1GfD0 {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: .2;
        z-index: 25;
        -webkit-animation: blackoutFade__cPwmv .2s;
        animation: blackoutFade__cPwmv .2s
    }
}

@-webkit-keyframes blackoutFade__cPwmv {
    0% {
        opacity: 0
    }
    to {
        opacity: .2
    }
}

@keyframes blackoutFade__cPwmv {
    0% {
        opacity: 0
    }
    to {
        opacity: .2
    }
}