
.title {

    display: flex;
    justify-content: center;
}

.materials-list {
    display: flex;
    margin-top: 40px;
    transition: .5s ease-in-out;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.item-block {
    width: 60%;
}


.content {
    display: flex;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.content .title-block {
    font-size: 30px;
    text-align: center;
}
.content .separator {
    height: 3px;
    background-color:gray;
    width: 100%;
}
.content .body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.i {
   font-size:24px
}

/* mobile */
@media only screen and (max-width: 992px) {

    .item-block {
        width: 90% ;
    }
    .title-block {
        font-size: 23px;
    }






}

