
.title {

    display: flex;
    justify-content: center;
}

.materials-list {
    display: flex;

    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    transition: .5s ease-in-out;
}

.materials-date {

    font-size: 23px;

}

.title-block {
  font-size: 30px;
  margin-bottom: 20px;

  vertical-align: top;
  display: inline;
}
#materials-blocks {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    align-items: center;
}

.item-block {
    display: block;

    margin: 10px 30px;

}

.materials {
    display: block;
    text-align: center;
    margin-left: 10px;
    vertical-align: top;

}

.materials-body {

    margin-top: 30px;
    margin-bottom: 40px;



}

.materials-body p{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: normal;
}




.view-all {
    font-size: 16px;

    display: flex;
    color: black;
    font-weight: bold;
    align-items: flex-end;
}

.content {
    display: flex;

    border-radius: 10px;
    padding: 10px 0 ;


    margin-top: 10px;
    flex-direction: column;
}

.cover {

    display: block;
    border-top: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.i {
   font-size:24px
}
.separator {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}
/* mobile */
@media only screen and (max-width: 992px) {

    .item-block {
        width: 90% ;
    }
    .title-block {
        font-size: 23px;
    }






}

