.category-navigation li {
    display: inline-block;
    margin: 3px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    white-space: nowrap;
    border-radius: 5px;
    transition: .5s ease-in-out;
    background-color: green;
}
.category-navigation li a {
    color: white;
    transition: .5s ease-in-out;
}
.category-navigation {
    display: flex;
    
    justify-content: center
}
.category-navigation li a:hover {
    text-decoration: underline;

}
.category-navigation li:hover {
    background-color: #0470b8;


}

