.item-block {
  display: block;
  width: 70%;
  margin: 50px auto;
}
.title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.item-block span {

  font-size:x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.news-list {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  transition: .5s ease-in-out;
}
#animals-blocks {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 100%;
  align-items: center;
}
.news-date-info {
  text-align: center;
}
.news-date {
  display: flex;
  justify-content: center;

  width: 50%;
}
/* .title-block {
  font-size: medium;
  margin-left: 30px;

  vertical-align: top;
  display: inline;
} */
.news {

  display: inline-block;
  max-width: 70%;
  margin-left: 10px;

  vertical-align: top;

}
.news-body {
  overflow: hidden;

  display: grid;

  margin-left: 5px;
  max-height: 180px;
}
.news-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: smaller;
  color: grey;

  
  }
.news-body h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
  color: grey;

  }
.news-body h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
  color: grey;
  max-width: max-content;
  
  }
.confirm-remove-dialog {
  visibility: hidden;
  position: fixed;
  top: 30%;
  height: 200px;

}
.confirm-remove-dialog .buttons {
  display: flex;

  margin-top: 10px;
  
  position: absolute;
  bottom: 30px;
  right: 30px;

  
}
.confirm-remove-dialog .dialog-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.confirm-remove-dialog .buttons a {
  margin-left: 25px;
  color: black;
  
}
.tools a {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.tools {
  display: inline-flex;
    align-items: center;
    float: right;
}
.view-all {

  margin-top: 10px;
  color: black;
}
.is-empty {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.is-empty a, p {
  font-size: larger;
}
.content {

  display: flex;
  background-color: white;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px darkgrey;
  white-space: nowrap;
  margin-top: 10px;
  flex-direction: row;
}
.cover {
  display: block;

  height: 280px;
  margin: auto 25px;
  max-width: 90%;
}
@media only screen and (min-width: 1200px) {

  .title {
      font-size: 30px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .title {
      font-size: 30px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {



  .title {
      font-size: 50px;
  }


}

@media only screen and (min-width: 480px) and (max-width: 768px) {

}

@media only screen and (max-width: 320px) and (max-width: 480px) {
}