
.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.news-list {
    display: flex;
    position: absolute;

    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    transition: .5s ease-in-out;
}

.news-date {
    display: flex;
    justify-content: center;

    width: 50%;
}

.title-block {
  font-size: 30px;
  margin-bottom: 10px;

  vertical-align: top;
  display: inline;
} 
#news-blocks {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    align-items: center;
}

.item-block {
    display: block;
    width: 50vw;
    margin: 50px;
}

.news {

    display: block;

    margin-left: 40px;
    margin-bottom: 20px;
    vertical-align: top;

}

.news-body {
    overflow: hidden;

    margin-top: 10px;
    margin-bottom: 40px;
    max-height: 80px


}

.news-body span p, h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: normal;
}


.is-empty {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.is-empty a, p {
    font-size: larger;
}

.tools a {
    display: inline-flex;
    white-space: nowrap;
    justify-content: flex-end;
    margin-left: 10px;
}

.tools {
    display: inline-flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
}

.view-all {
    font-size: 20px;

    display: flex;
    color: black;
    font-weight: bold;
    align-items: flex-end;
}

.content {
    display: flex;
    background-color: white;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px darkgrey;
    white-space: nowrap;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.cover {

    display: block;
    border-top: 10px;
    margin: 10px auto;
    height: 50%;
}
.i {
   font-size:24px
}

@media only screen and (min-width: 1200px) {

    .title {
        font-size: 30px;
    }

    span {
        font-size: 30px;
    }

    .tools i {
        font-size: 24px;
    }

    .tools a {
        margin: 0 8px;
    }


    .view-all {
        font-size: 18px;
    }
    .news-body span, p, h1, h2, h3, h4, h5, h6 {
        font-size: 17px;
        font-weight: normal;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Общие стили */
    .title {
        font-size: 30px;
    }

    span {
        font-size: 30px;
    }

    .tools i {
        font-size: 24px;
    }

    .tools a {
        margin: 0 8px;
    }

    .item-block {
        width: 600px;
    }

    .news-body span, p, h1, h2, h3, h4, h5, h6 {
        font-size: 18px;
        font-weight: normal;
    }


    .view-all {
        font-size: 22px;
    }
}
/* mobile */
@media only screen and (min-width: 768px) and (max-width: 992px) { 
    p {
        font-size: 40px;
    }

    span {
        font-size: 50px;
    }

    .is-empty p {
        font-size: 45px;
    }
    .is-empty a {
        font-size: 30px;
    }

    .tools i {
        font-size: 40px;
    }

    .tools a {
        font-size: 40px;
        margin: 0 8px;
    }

    .title-block {
        font-size: 40px;
    }

    .item-block {
        width: 90vw;
    }
    .content {
      height: 40vh;
    }
    .news-body span, p, h1, h2, h3, h4, h5, h6 {
        font-size: 28px;
        font-weight: normal;
    }


    .view-all {
        font-size: 24px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {

}

@media only screen and (max-width: 320px) and (max-width: 480px) {
}