.title {
    font-size: 33px;
    
    margin-top: 50px;
}

/*Паналь инструментов*/
.tools a {
  display: inline-flex;
  justify-content: flex-end;
  font-size: 22px;
  transition: .5s ease-in-out;
  white-space: nowrap;
  margin: 0 8px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.tools a:hover{
    font-size: 25px;
}
/*Блок создания нового элемента*/
.is-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 17px;
}


@media only screen and (max-width: 992px) {
    /*Паналь инструментов*/
    .tools i {
        font-size: 24px;
    }

    .tools a {
        font-size: 22px;
        margin: 0 8px;
    }
    /*Блок создания нового элемента*/

    .is-empty p {
        font-size: 24px;
    }
    .is-empty a {
        font-size: 20px;
    }
    

}
