.is-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.is-empty a {
	font-size: 17px;
}
.title {
	margin-top: 50px;

	text-align: center;
}
.partner {
    padding: 20px;
    width: 300px;
    padding-bottom: 20px;
}
.partner p {
    margin: 18px 0;
	font-size: 20px;
	text-align: center;
}
.partner img {
    display: block;
    margin: 0 auto;
	width: 100%;
}
.partners-list {
    display: flex;
    margin-top: 50px;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
}

#mobile {
    display: none;
}
.partners-list .line {
	display: flex;
    flex-wrap: wrap;
}

.tools a {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
}
 hr {
    width: 90%!important;
    margin-top: 40px;
    border: 0.1px solid gray;
}
.title-block {
    display: flex;
    justify-content: space-between;
}



@media only screen and (max-width: 992px) {

    .partners-list hr {
        width: 100%!important;
        border: 0.1px solid gray;
    }      
    .partners-list {
        width: 100%!important;
    }
}
