.is-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.is-empty a {
	font-size: 17px;
}
.title {
	margin-top: 50px;
	display: block;
	width: 100%;
	text-align: center;
}
.partner {
    margin: 0 40px;
    padding-bottom: 20px;
}
.partner p {
    margin: 18px 0;
	font-size: 23px;
	text-align: center;
}
.partner img {
    display: block;
    margin: 0 auto;
	width: 450px;
}
.partners-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#mobile {
    display: none;
}
.partners-list .line {
	display: flex;
}

.tools a {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-list hr {
    width: 60%;
    border: 0.1px solid gray;
}
@media only screen and (min-width: 1200px){
    .description p {
        max-width: 80%;

        margin-top: 10px;
    }
    .title {
        font-size: 30px;
    }
    .item-block {
        width: 500px;
    }
    .navigation {
        padding-top: 20px;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Общие стили */

    .title {
        font-size: 5vh;
    }

    .partners-list hr {
        width: 90%;

    }
    .partner {
        margin: 0 45px;
    }



}
@media only screen and (min-width: 768px) and (max-width: 992px){
    p {
        font-size: 40px;
    }

    li {
        font-size: 30px;
    }


	.is-empty a {
		font-size: 36px ;
	}

	.partner p {
        margin: 34px 0;
    	font-size: 60px;
    }
    .partner img {
    	width: 100%;
    }
    .partners-list hr {
    	width: 90%;
        border-width: 2px;
    }
    #mobile {
        display: flex;
    }
    #desktop {
        display: none;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .description p {
        font-size: 2vh;

    }

}
@media only screen and (max-width: 320px) and (max-width: 480px) {
    .description p {
        font-size: 2vh;

    }
    p {
        background-color: red;
    }


}