.buttons-list div {
  display: flex;
  background-color: green;
  height: 90px;

  width: 30%;

  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px darkgrey;
  
  margin-top: 10px;
  align-items: center;
}
.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.buttons-list a {
    margin-top: 60px;
}
.buttons-list span {

    color: white;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
    margin: 0px auto;
}
.buttons-list {
    display: flex;
    flex-direction: column;

    margin: 0px auto;
    justify-content: center;
}


@media only screen and  (max-width: 992px) {



    .title {
        font-size: 50px;
    }
    .buttons-list div {
        height: 130px;
    }
    .buttons-list {

        width: 60%;

    }


}

