
.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.news-list {
    display: flex;
    margin-top: 40px;
    transition: .5s ease-in-out;

    justify-content: center;
    flex-wrap: wrap;
}

.news-date {
    display: flex;
    justify-content: center;

    width: 50%;
}

.title-block {
  font-size: 19px;
  margin: 10px 0 ;

  vertical-align: top;
  display: inline;
} 
#news-blocks {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    align-items: center;
}

.item-block {
    display: block;
    width: 30%;
    margin: 50px;
}

.news {

    display: block;

    margin-left: 40px;
    margin-bottom: 20px;
    vertical-align: top;

}

.news-body {
    overflow: hidden;

    margin-top: 10px;
    margin-bottom: 40px;
    max-height: 80px


}

.news-body span p, h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: normal;
}


.is-empty {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.is-empty a, p {
    font-size: larger;
}

.tools a {
    display: inline-flex;
    white-space: nowrap;
    justify-content: flex-end;
    margin-left: 10px;
}

.tools {
    display: inline-flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
}

.view-all {
    font-size: 20px;

    display: flex;
    color: black;
    font-weight: bold;
    align-items: flex-end;
}

.content {
    display: flex;
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px darkgrey;

    margin-top: 10px;
    flex-direction: column;

}

.cover {

    display: block;
    border-top: 10px;

}
.i {
   font-size:24px
}


/* mobile */
@media only screen and  (max-width: 992px) { 

    .is-empty p {
        font-size: 45px;
    }
    .is-empty a {
        font-size: 30px;
    }

    .tools i {
        font-size: 24px;
    }

    .tools a {
        font-size: 24px;
        margin: 0 8px;
    }


    .item-block {
        width: 90%;
    }
    .content {
      height: 40vh;
    }
    .news-body span, p, h1, h2, h3, h4, h5, h6 {
        font-size: 28px;
        font-weight: normal;
    }


    .view-all {
        font-size: 24px;
    }

}

