.news-content {
    display: flex;
    width: 80%;
    background-color: white;
    white-space: nowrap;
    box-shadow: 0px 0px 25px grey;
    margin: 60px auto;
    border-radius: 10px;
    flex-direction: row;
  
}
.title-block {
  font-size: 30px;
  font-weight: normal;
}
.news {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 36px;
  vertical-align: top;

}
.news-body{
  margin-top: 36px;

}

.view-all {
  display: flex;
    justify-content: center;
}



.cover {
  margin: 10px;

  height: 300px;

}


/* mobile */
@media only screen and (max-width: 992px) { 


    .cover {
      height: 100%;
    }
    .news-content {
      flex-direction: column;
    }

    .title-block {
        
        font-size: 23px;
    }
    .news {
        margin: 10px 10px;
    }


}

