
.title {
  margin-top: 50px;
  display: flex;

  justify-content: center;
}
.document-title {

  font-size: x-large;
  /* justify-content: center; */
  color: white;
  word-break: break-word;
  word-wrap: break-word;
  text-align: center;
  padding: 0 15px;
  
}
.documents-list {
  display: flex;
  width: 90%;
  margin: 40px auto;
  flex-direction: column-reverse;
  align-items: center;
 }

.confirm-remove-dialog {
  visibility: hidden;
  position: fixed;
  top: 30%;
  height: 200px;

}
.item-block {
  display: block;

  width: 30%;
  margin: 50px 10px;
}

.confirm-remove-dialog .buttons {
  display: flex;

  margin-top: 10px;

  position: absolute;
  bottom: 30px;
  right: 30px;


}
.confirm-remove-dialog .dialog-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.confirm-remove-dialog .buttons a {
  margin-left: 25px;
  color: black;

}

.content {
  display: flex;
  background-color: green;
  height: 90px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px darkgrey;
  
  margin-top: 10px;
  align-items: center;


}




@media only screen and (max-width: 992px) {



    .content {
      height: 130px;
    }
    .item-block {
      width: 90%;
    }

}
