
.title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.document-title {
  display: flex;
  font-size: x-large;
  /* justify-content: center; */
  color: white;
  word-break: break-word;
  word-wrap: break-word;
  text-align: center;
  margin: 0px auto;
  
}
.documents-list {
  display: flex;
  width: 90%;
  margin: 40px auto;
  flex-direction: column-reverse;
  align-items: center;
 }

.confirm-remove-dialog {
  visibility: hidden;
  position: fixed;
  top: 30%;
  height: 200px;

}
.item-block {
  display: block;

  width: 30%;
  margin: 50px 10px;
}

.confirm-remove-dialog .buttons {
  display: flex;

  margin-top: 10px;

  position: absolute;
  bottom: 30px;
  right: 30px;


}
.confirm-remove-dialog .dialog-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.confirm-remove-dialog .buttons a {
  margin-left: 25px;
  color: black;

}
.tools a {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 10px;
  white-space: nowrap;
}
.tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.is-empty {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.content {
  display: flex;
  background-color: green;
  height: 90px;
  
  border-radius: 10px;
  box-shadow: 0px 0px 15px darkgrey;
  
  margin-top: 10px;
  align-items: center;


}