<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}{% endblock %}
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
    <meta name="yandex-verification" content="9bdaca495b0e0142"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--Стили-->
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/css/animations.css">
    <!--Скрипты-->
    <script type="text/javascript" src="/static/js/dialog.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="https://kit.fontawesome.com/6957c188ce.js" crossorigin="anonymous"></script>
    <script src="/static/js/site.js"></script>
    <script src="/static/js/navigation.js"></script>
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

</head>
<body>

<div id="before">
    {% block before %}{% endblock %}
</div>
<div class="l-wrap js-wrap">


    <div class="nav-menu" id="desktop">
        <div class="logo">
            <a href="/">
                <img src="/static/images/logo.png">
            </a>
        </div>
        <div class="navigation">
            <nav>
                <ul class="topmenu">
                    <li><a>Главная</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('index')}}">О НАС</a></li>
                            <li><a href="{{ url_for('documents') }}">Уставные документы</a></li>
                            <li><a href="{{ url_for('smi') }}">СМИ о нас</a></li>
                            <li><a href="{{ url_for('gallery') }}">Галерея</a></li>

                        </ul>
                    </li>
                    <li><a>НАШИ ЖИВОТНЫЕ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('our_animals', gender='men')}}">Мальчики</a></li>
                            <li><a href="{{url_for('our_animals', gender='girl')}}">Девочки</a></li>

                        </ul>
                    </li>


                    <li><a href="{{url_for('partners')}}">ПАРТНЕРЫ</a></li>
                    <li><a href="{{url_for('news')}}">НОВОСТИ</a></li>

                    <li><a>ПОМОЧЬ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('help_money')}}">Помогите финансово</a></li>
                            <li><a href="{{ url_for('opeka') }}">Стать опекуном</a></li>
                            <li><a href="{{ url_for('volunteer') }}">Стать волонтером</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('materials')}}">ПОЛЕЗНАЯ ИНФОРМАЦИЯ</a></li>
                    <li><a href="{{url_for('contacts')}}">КОНТАКТЫ</a></li>


                </ul>
            </nav>


        </div>
        {% if user.is_authenticated %}
        <a class="me-admin" href="{{ url_for('admin_panel') }}">Панель управления</a>
        {% else %}
        <a class="me-admin" href="{{ url_for('admin_panel') }}">Вход</a>
        {% endif %}

    </div>

    <div class="nav-menu" id="mobile" style="display: none">
        <div class="nav-controls">
            <div class="logo">
                <a href="/">
                    <img src="/static/images/logo.png">
                </a>
            </div>

            <a onclick="open_top_menu()" id="open-navigation"><i class="fa-solid fa-bars "></i></a>
            <a style="display: none" id="close-navigation" onclick="close_top_menu()"><i class="fa fa-close"></i></a>
        </div>
        <div id="navigation">


            <nav>
                <ul class="topmenu">
                    <li><a>Главная</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('index')}}">О НАС</a></li>
                            <li><a href="{{ url_for('documents') }}">Уставные документы</a></li>

                            <li><a href="{{ url_for('smi') }}">СМИ о нас</a></li>
                            <li><a href="{{ url_for('gallery') }}">Галерея</a></li>

                        </ul>
                    </li>
                    <li><a>НАШИ ЖИВОТНЫЕ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('our_animals', gender='girl')}}">Девочки</a></li>
                            <li><a href="{{url_for('our_animals', gender='men')}}">Мальчики</a></li>
                        </ul>
                    </li>


                    <li><a href="{{url_for('partners')}}">ПАРТНЕРЫ</a></li>
                    <li><a href="{{url_for('news')}}">НОВОСТИ</a></li>

                    <li><a>ПОМОЧЬ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('help_money')}}">Помогите финансово</a></li>
                            <li><a href="{{ url_for('opeka') }}">Стать опекуном</a></li>
                            <li><a href="{{ url_for('volunteer') }}">Стать волонтером</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('materials')}}">ПОЛЕЗНАЯ ИНФОРМАЦИЯ</a></li>
                    <li><a href="{{url_for('contacts')}}">КОНТАКТЫ</a></li>


                </ul>
            </nav>

            {% if user.is_authenticated %}
            <a class="me-admin" href="{{ url_for('admin_panel') }}">Панель управления</a>
            {% else %}
            <a class="me-admin" href="{{ url_for('admin_panel') }}">Вход</a>
            {% endif %}

        </div>

    </div>


    <div id="after">
        {% block after %}{% endblock %}
    </div>
    <div id="bottom-panel">

    </div>
</div>


</body>
</html><!-- cached 2022-11-24 10:12:41 e24cc38881bdebf1e12f84cc0a6bf3ce -->
