<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
<head>


    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--"/static/css/build_cms_front.css"-->
    <link rel="stylesheet" type="text/css"
          href="static/css/build_cms_front.css">


    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page.css">
    <script src="/static/js/jquery.js"></script>
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/adaptive.css">-->
    <link rel="icon" href="/static/images/icon.ico">
    <script src="https://kit.fontawesome.com/6957c188ce.js" crossorigin="anonymous"></script>
    <script src="/static/js/site.js"></script>
    <script src="/static/js/navigation.js"></script>
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">
<div id="before">
    {% block before %}{% endblock %}
</div>
<div class="l-wrap js-wrap">


    <div class="nav-menu" id="desktop">
        <div class="logo">
            <a href="/">
                <img src="/static/images/logo.png">
            </a>
        </div>
        <div class="navigation">
            <nav>
                <ul class="topmenu">
                    <li><a>Главная</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('index')}}">О НАС</a></li>
                            <li><a href="{{ url_for('documents') }}">Уставные документы</a></li>
                            <!--                            <li><a href="{{ url_for('reporting') }}">Отчетность</a></li>-->
                            <li><a href="{{ url_for('smi') }}">СМИ о нас</a></li>
                            <!--                            <li><a href="{{ url_for('partners') }}">Партнеры</a></li>-->
                            <li><a href="{{ url_for('materials') }}">Полезные материалы</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('our_animals')}}">НАШИ ЖИВОТНЫЕ</a>

                    </li>

                    <li><a href="{{url_for('activities')}}">МЕРОПРИЯТИЯ</a></li>
                    <li><a href="{{url_for('partners')}}">ПАРТНЕРЫ</a></li>
                    <li><a href="{{url_for('news')}}">НОВОСТИ</a></li>

                    <li><a>ПОМОЧЬ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('help_money')}}">Помогите финансово</a></li>
                            <li><a href="{{ url_for('opeka') }}">Стать опекуном</a></li>
                            <li><a href="{{ url_for('volunteer') }}">Стать волонтером</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('contacts')}}">КОНТАКТЫ</a></li>


                </ul>
            </nav>


        </div>
        <a class="me-admin" href="{{ url_for('profile') }}">Я администратор</a>

    </div>
    <div class="nav-menu" id="mobile" style="display: none">
        <div class="nav-controls">
            <div class="logo">
                <a href="/">
                    <img src="/static/images/logo.png">
                </a>
            </div>

            <!--            <a class="me-admin" href="{{ url_for('profile') }}">Я администратор</a>-->
            <a onclick="open_navigation()" id="open-navigation"><i class="fa-solid fa-bars "></i></a>
            <a style="display: none" id="close-navigation" onclick="close_navigation()"><i class="fa fa-close"></i></a>
        </div>
        <div id="navigation">


            <nav>
                <ul class="topmenu">
                    <li><a>Главная</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('index')}}">О НАС</a></li>
                            <li><a href="{{ url_for('documents') }}">Уставные документы</a></li>
                            <!--                            <li><a href="{{ url_for('reporting') }}">Отчетность</a></li>-->
                            <li><a href="{{ url_for('smi') }}">СМИ о нас</a></li>
                            <!--                            <li><a href="{{ url_for('partners') }}">Партнеры</a></li>-->
                            <li><a href="{{ url_for('materials') }}">Полезные материалы</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('our_animals')}}">НАШИ ЖИВОТНЫЕ</a>

                    </li>


                    <li><a href="{{url_for('activities')}}">МЕРОПРИЯТИЯ</a></li>
                    <li><a href="{{url_for('partners')}}">ПАРТНЕРЫ</a></li>
                    <li><a href="{{url_for('news')}}">НОВОСТИ</a></li>

                    <li><a>ПОМОЧЬ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('help_money')}}">Помогите финансово</a></li>
                            <li><a href="{{ url_for('opeka') }}">Стать опекуном</a></li>
                            <li><a href="{{ url_for('volunteer') }}">Стать волонтером</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('contacts')}}">КОНТАКТЫ</a></li>


                </ul>
            </nav>

            <a class="me-admin" href="{{ url_for('profile') }}">Я администратор</a>
        </div>

    </div>


    <div id="after">
        {% block after %}{% endblock %}
    </div>
</div>


</body>
</html><!-- cached 2022-11-24 10:12:41 e24cc38881bdebf1e12f84cc0a6bf3ce -->
