<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">

    <!--"/static/css/build_cms_front.css"-->
    <link rel="stylesheet" type="text/css"
          href="static/css/build_cms_front.css">


    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script src="/static/js/jquery.js"></script>
    {% block head %}{% endblock %}
    <script src="https://kit.fontawesome.com/6957c188ce.js" crossorigin="anonymous"></script>
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">
<div class="l-wrap js-wrap">

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div class="nav-menu">
        <div class="logo">
            <a href="/">
                <img src="/static/images/logo-lightblue.png">
            </a>
        </div>
        <div class="nav-menu-item">
            <nav>
                <ul class="topmenu">
                    <li><a>Главная</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('index')}}">О НАС</a></li>
                            <li><a href="{{ url_for('documents') }}">Уставные документы</a></li>
                            <li><a href="{{ url_for('reporting') }}">Отчетность</a></li>
                            <li><a href="{{ url_for('smi') }}">СМИ о нас</a></li>
                            <li><a href="{{ url_for('partners') }}">Партнеры</a></li>
                            <li><a href="{{ url_for('materials') }}">Полезные материалы</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('our_animals')}}">НАШИ ЖИВОТНЫЕ</a>

                    </li>
                    <li><a href="">ПРОГРАММЫ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('house_for_animals')}}">Дом дляживотных</a></li>
                            <li><a href="{{ url_for('ambulance') }}">Скорая помощь</a></li>
                            <li><a href="{{ url_for('activities') }}">Просвещение и мероприятия</a></li>

                        </ul>
                    </li>


                    <li><a>ПАРТНЕРАМ</a></li>
                    <li><a href="{{url_for('news')}}">НОВОСТИ</a></li>
                    
                    <li><a>ПОМОЧЬ</a>
                        <ul class="submenu">
                            <li><a href="{{url_for('help_money')}}">Помогите финансово</a></li>
                            <li><a href="{{ url_for('opeka') }}">Стать опекуном</a></li>
                            <li><a href="{{ url_for('volunteer') }}">Стать волонтером</a></li>
                            <li><a href="{{ url_for('full') }}">Оставайтесь Сытыми</a></li>
                            <li><a href="{{ url_for('fees') }}">Наши сборы</a></li>
                        </ul>
                    </li>
                    <li><a>КОНТАКТЫ</a></li>

                   <li class="bold-tab"><a href="{{ url_for('index') }}">ГОРЯЧАЯ ЛИНИЯ</a></li>
                   <i class='fas fa-paw'></i>

                </ul>
            </nav>


        </div>
        <a class="me-admin" href="{{ url_for('profile') }}">Я администратор</a>
    </div>

    <!--    <header class="l-header l-header-main js-header-main layout-logo-left&#45;&#45;by-logo ">-->
    <!--        <div>-->
    <!--            <div class="l-header__cont ">-->
    <!--                <div class="l-header__row">-->
    <!--                    <div class="l-header__col0 l-header__col l-header__mobile&#45;&#45;box"></div>-->
    <!--                    <div class="l-header__col1 l-header__col l-header__logo&#45;&#45;box mod&#45;&#45;set-logo-max-width">-->
    <!--                        <div id='logoWrap' class='logo__wrap' data-lt="">-->
    <!--                            <div class="logo logo-image"><a href="/"> <img-->
    <!--                                    src="/static/images/logo-lightblue.png"-->
    <!--                                    style="margin-left: auto;width:50%;height:50%;"> </a></div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="l-header__col2 l-header__col l-header__menu&#45;&#45;box" style="white-space: nowrap;">-->
    <!--                        <nav class='md-menu' data-menu-type="origin">-->
    <!--                            <ul class="menu md-menu__main js&#45;&#45;menu__main is&#45;&#45;level1 mod&#45;&#45;menu_underline mod&#45;&#45;menu_left">-->
    <!--                                <li id="2196185" data-id="2196185"-->
    <!--                                    class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 with-sub"><a-->
    <!--                                        class="md-menu__href-l1 js&#45;&#45;menu-mobile-sildetoggle is&#45;&#45;link-level1 f__menu height2 big-height5"-->
    <!--                                        href="/">ГЛАВНАЯ</a>-->
    <!--                                    <div class="md-menu__wrap-l2 js&#45;&#45;menu-submenu" id="sub-2196185"-->
    <!--                                         data-parent-id="2196185">-->
    <!--                                        <ul class="mod&#45;&#45;submenu-center js&#45;&#45;menu-submenu__ul mod&#45;&#45;custom-scrollbar__not-mac">-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/">О НАС</a></li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="{{ url_for('documents') }}">Уставные-->
    <!--                                                документы</a></li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="{{ url_for('reporting') }}">Отчетность </a>-->
    <!--                                            </li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="{{ url_for('smi') }}">СМИ о-->
    <!--                                                нас</a></li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="{{ url_for('partners') }}">Партнеры</a>-->
    <!--                                            </li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="{{ url_for('materials') }}">Полезные-->
    <!--                                                материалы</a></li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/">КОНТАКТЫ </a>-->
    <!--                                            </li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/">Новости </a>-->
    <!--                                            </li>-->
    <!--                                        </ul>-->
    <!--                                    </div>-->
    <!--                                </li>-->
    <!--                                <li id="5993422" data-id="5993422" class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 "><a-->
    <!--                                        class="md-menu__href-l1 is&#45;&#45;link-level1 f__menu height2 big-height5"-->
    <!--                                        href="{{ url_for('our_animals') }}">НАШИ ЖИВОТНЫЕ</a></li>-->
    <!--                                <li id="2196770" data-id="2196770"-->
    <!--                                    class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 with-sub"><a-->
    <!--                                        class="md-menu__href-l1 js&#45;&#45;menu-mobile-sildetoggle is&#45;&#45;link-level1 f__menu height2 big-height5"-->
    <!--                                        href="/">ПРОГРАММЫ</a>-->
    <!--                                    <div class="md-menu__wrap-l2 js&#45;&#45;menu-submenu" id="sub-2196770"-->
    <!--                                         data-parent-id="2196770">-->
    <!--                                        <ul class="mod&#45;&#45;submenu-center js&#45;&#45;menu-submenu__ul mod&#45;&#45;custom-scrollbar__not-mac">-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Дом для животных">Дом дляживотных</a>-->
    <!--                                            </li>-->

    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Скорая помощь">Скорая-->
    <!--                                                помощь</a></li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Просвещение и мероприятия">Просвещение-->
    <!--                                                и мероприятия</a></li>-->

    <!--                                        </ul>-->
    <!--                                    </div>-->
    <!--                                </li>-->
    <!--                                <li id="2477276" data-id="2477276" class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 "><a-->
    <!--                                        class="md-menu__href-l1 is&#45;&#45;link-level1 f__menu height2 big-height5"-->
    <!--                                        href="{{ url_for('partners') }}">ПАРТНЕРАМ</a></li>-->
    <!--                                <li  class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 "><a-->
    <!--                                        class="md-menu__href-l1 is&#45;&#45;link-level1 f__menu height2 big-height5"-->
    <!--                                        href="{{ url_for('news') }}">НОВОСТИ</a></li>-->
    <!--                                &lt;!&ndash;                                        <li id="2393936" data-id="2393936"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                            class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 with-sub"><a&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                class="md-menu__href-l1 js&#45;&#45;menu-mobile-sildetoggle is&#45;&#45;link-level1 f__menu height2 big-height5">&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                            НОВОСТИ </a>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                            <div class="md-menu__wrap-l2 js&#45;&#45;menu-submenu" id="sub-2393936"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                 data-parent-id="2393936">&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                <ul class="mod&#45;&#45;submenu-center js&#45;&#45;menu-submenu__ul mod&#45;&#45;custom-scrollbar__not-mac">&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                    <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                                                   href="/Помогите финансово"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                                                   rel="ext noopener noreferrer">Помогите&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                        финансово</a>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                    </li>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                    <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                                                   href="/Стать опекуном">Стать&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                        опекуном</a></li>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                    <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                                                   href="/Стать волонтером">Стать&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                        волонтером</a></li>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                    <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                                                   href="/Оставайтесь сытыми">Оставайтесь&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                        Сытыми</a>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                    </li>&ndash;&gt;-->

    <!--                                &lt;!&ndash;                                                    <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                                                   href="/Наши сборы">Наши&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                        сборы</a></li>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                                </ul>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                            </div>&ndash;&gt;-->
    <!--                                &lt;!&ndash;                                        </li>&ndash;&gt;-->
    <!--                                <li id="2393936" data-id="2393936"-->
    <!--                                    class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 with-sub"><a-->
    <!--                                        class="md-menu__href-l1 js&#45;&#45;menu-mobile-sildetoggle is&#45;&#45;link-level1 f__menu height2 big-height5">-->
    <!--                                    ПОМОЧЬ </a>-->
    <!--                                    <div class="md-menu__wrap-l2 js&#45;&#45;menu-submenu" id="sub-2393936"-->
    <!--                                         data-parent-id="2393936">-->
    <!--                                        <ul class="mod&#45;&#45;submenu-center js&#45;&#45;menu-submenu__ul mod&#45;&#45;custom-scrollbar__not-mac">-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Помогите финансово"-->
    <!--                                                                           rel="ext noopener noreferrer">Помогите-->
    <!--                                                финансово</a>-->
    <!--                                            </li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Стать опекуном">Стать-->
    <!--                                                опекуном</a></li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Стать волонтером">Стать-->
    <!--                                                волонтером</a></li>-->
    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Оставайтесь сытыми">Оставайтесь-->
    <!--                                                Сытыми</a>-->
    <!--                                            </li>-->

    <!--                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"-->
    <!--                                                                           href="/Наши сборы">Наши-->
    <!--                                                сборы</a></li>-->
    <!--                                        </ul>-->
    <!--                                    </div>-->
    <!--                                </li>-->

    <!--                                <li id="2196752" data-id="2196752" class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 "><a-->
    <!--                                        class="md-menu__href-l1 is&#45;&#45;link-level1 f__menu height2 big-height5"-->
    <!--                                        href="/">КОНТАКТЫ </a></li>-->

    <!--                                <li id="5602181" data-id="5602181" class="md-menu__li-l1 menu-item js&#45;&#45;menu__li-l1 "><a-->
    <!--                                        class="md-menu__href-l1 is&#45;&#45;link-level1 f__menu height2 big-height5"-->
    <!--                                        href="{{ url_for('help_money') }}" rel="ext noopener noreferrer">ГОРЯЧАЯ-->
    <!--                                    ЛИНИЯ</a></li>-->
    <!--                            </ul>-->
    <!--                            <div class="md-menu-mobile__socials social-icons">-->
    <!--                                <div class="social-icons-wrapper"></div>-->
    <!--                            </div>-->


    <!--                        </nav>-->

    <!--                    </div>-->
    <!--                    <div style="margin: auto 0;">-->
    <!--                        <a style="font-size: 14px; white-space: nowrap;text-align: center;"-->
    <!--                           href="{{ url_for('profile') }}">Я-->
    <!--                            администратор</a>-->
    <!--                    </div>-->


    <!--                    &lt;!&ndash;                    <div class="col col-md-8">&ndash;&gt;-->

    <!--                    &lt;!&ndash;                        <div class="widget" id="widget_73304434"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                             data-id="73304434" data-type="post-indent">&ndash;&gt;-->

    <!--                    &lt;!&ndash;                            <div class="wg-post-indent" id="w_73304434">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                <div class="wg-post-indent__inner"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                     style="width: 100%; height: 11px;"></div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                            </div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                        </div>&ndash;&gt;-->

    <!--                    &lt;!&ndash;                        <div class="widget" id="widget_37846913"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                             data-id="37846913" data-type="social-icons">&ndash;&gt;-->

    <!--                    &lt;!&ndash;                            <div class="element widget-social-icons"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                 id="w_37846913">&ndash;&gt;-->

    <!--                    &lt;!&ndash;                                <style>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                    #w_37846913 .social-icons-content {margin: -34px -17px 0;}&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                     #w_37846913 .asi-icon-box-vk { margin: 34px 17px 0 17px; }&ndash;&gt;-->


    <!--                    &lt;!&ndash;                                     #w_37846913 .asi-icon-box-vk a:hover i { color: #8f8f8f; }&ndash;&gt;-->

    <!--                    &lt;!&ndash;                                     #w_37846913 .asi-icon-box-vk i {color: #4f72a8; font-size: 32px; line-height: 32px; }&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                     #w_37846913 .asi-icon-box-ok { margin: 34px 17px 0 17px; }&ndash;&gt;-->


    <!--                    &lt;!&ndash;                                     #w_37846913 .asi-icon-box-ok a:hover i { color: #8f8f8f; }&ndash;&gt;-->

    <!--                    &lt;!&ndash;                                     #w_37846913 .asi-icon-box-ok i {color: #ff800d;font-size: 32px; line-height: 32px; }&ndash;&gt;-->


    <!--                    &lt;!&ndash;                                </style>&ndash;&gt;-->

    <!--                    &lt;!&ndash;                                <div class="widget-content social-icons-content center">&ndash;&gt;-->

    <!--                    &lt;!&ndash;                                    <div class="asi-icon-box-vk" id="fff">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                        <a href="https://t.me/fondnika"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                           target="_blank" rel="noopener">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                            <i class="fab fa-telegram-plane" style="font-size:25px"></i>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                        </a></div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                    <div class="asi-icon-box-vk"><a&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                            href="https://vk.com/ournika"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                            target="_blank" rel="noopener">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                        <i class="fab fa-vk" style="font-size:25px"></i>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                    </a></div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                    <div class="asi-icon-box-ok"><a&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                            href="https://ok.ru/group/61591464575063"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                            target="_blank" rel="noopener">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                        <i class="fab fa-odnoklassniki" style="font-size:25px"></i>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                    </a></div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                            </div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                        </div>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--                </div>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </header>-->

    {% block content %}{% endblock %}
</div>
<script src="/static/js/site.js"></script>


</body>
</html><!-- cached 2022-11-24 10:12:41 e24cc38881bdebf1e12f84cc0a6bf3ce -->
