<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">

    <!--"/static/css/build_cms_front.css"-->
    <link rel="stylesheet" type="text/css"
          href="static/css/build_cms_front.css">


    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <script src="/static/js/jquery.js"></script>
    {% block head %}{% endblock %}
    <script src="https://kit.fontawesome.com/6957c188ce.js" crossorigin="anonymous"></script>
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">
<div class="l-wrap js-wrap">

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header class="l-header l-header-main js-header-main layout-logo-left--by-logo ">
        <div style="margin-left: auto;">
            <div class="l-header__cont ">
                <div class="l-header__row">
                    <div class="l-header__col0 l-header__col l-header__mobile--box"></div>
                    <div class="l-header__col1 l-header__col l-header__logo--box mod--set-logo-max-width">
                        <div id='logoWrap' class='logo__wrap' data-lt="">
                            <div class="logo logo-image"><a href="/"> <img
                                    src="/static/images/logo-lightblue.png"
                                    style="margin-left: auto;width:50%;height:50%;"> </a></div>
                        </div>
                    </div>
                    <div class="l-header__col2 l-header__col l-header__menu--box" style="white-space: nowrap;">
                        <nav class='md-menu' data-menu-type="origin">
                            <ul class="menu md-menu__main js--menu__main is--level1 mod--menu_underline mod--menu_left">
                                <li id="2196185" data-id="2196185"
                                    class="md-menu__li-l1 menu-item js--menu__li-l1 with-sub"><a
                                        class="md-menu__href-l1 js--menu-mobile-sildetoggle is--link-level1 f__menu height2 big-height5"
                                        href="/">ГЛАВНАЯ</a>
                                    <div class="md-menu__wrap-l2 js--menu-submenu" id="sub-2196185"
                                         data-parent-id="2196185">
                                        <ul class="mod--submenu-center js--menu-submenu__ul mod--custom-scrollbar__not-mac">
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/">О ФОНДЕ</a></li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="{{ url_for('documents') }}">Уставные
                                                документы</a></li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="{{ url_for('reporting') }}">Отчетность </a>
                                            </li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="{{ url_for('smi') }}">СМИ о
                                                нас</a></li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="{{ url_for('partners') }}">Партнеры</a>
                                            </li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="{{ url_for('materials') }}">Полезные
                                                материалы</a></li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/">КОНТАКТЫ </a>
                                            </li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/">Новости </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="5993422" data-id="5993422" class="md-menu__li-l1 menu-item js--menu__li-l1 "><a
                                        class="md-menu__href-l1 is--link-level1 f__menu height2 big-height5"
                                        href="{{ url_for('our_animals') }}">НАШИ ЖИВОТНЫЕ</a></li>
                                <li id="2196770" data-id="2196770"
                                    class="md-menu__li-l1 menu-item js--menu__li-l1 with-sub"><a
                                        class="md-menu__href-l1 js--menu-mobile-sildetoggle is--link-level1 f__menu height2 big-height5"
                                        href="/">ПРОГРАММЫ</a>
                                    <div class="md-menu__wrap-l2 js--menu-submenu" id="sub-2196770"
                                         data-parent-id="2196770">
                                        <ul class="mod--submenu-center js--menu-submenu__ul mod--custom-scrollbar__not-mac">
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Дом для животных">Дом дляживотных</a>
                                            </li>

                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Скорая помощь">Скорая
                                                помощь</a></li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Просвещение и мероприятия">Просвещение
                                                и мероприятия</a></li>

                                        </ul>
                                    </div>
                                </li>
                                <li id="2477276" data-id="2477276" class="md-menu__li-l1 menu-item js--menu__li-l1 "><a
                                        class="md-menu__href-l1 is--link-level1 f__menu height2 big-height5"
                                        href="{{ url_for('partners') }}">ПАРТНЕРАМ</a></li>
                                <li id="23939361" data-id="2393936"
                                    class="md-menu__li-l1 menu-item js--menu__li-l1 with-sub"><a
                                        class="md-menu__href-l1 js--menu-mobile-sildetoggle is--link-level1 f__menu height2 big-height5">
                                    НОВОСТИ </a>
                                    <div class="md-menu__wrap-l2 js--menu-submenu" id="sub-2393936"
                                         data-parent-id="2393936">
                                        <ul class="mod--submenu-center js--menu-submenu__ul mod--custom-scrollbar__not-mac">
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Новости"
                                                                           rel="ext noopener noreferrer">Новостная лента</a>
                                            </li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Отчётность">Отчётность</a></li>

                                        </ul>
                                    </div>
                                </li>
                                <li id="2393936" data-id="2393936"
                                    class="md-menu__li-l1 menu-item js--menu__li-l1 with-sub"><a
                                        class="md-menu__href-l1 js--menu-mobile-sildetoggle is--link-level1 f__menu height2 big-height5">
                                    ПОМОЧЬ </a>
                                    <div class="md-menu__wrap-l2 js--menu-submenu" id="sub-2393936"
                                         data-parent-id="2393936">
                                        <ul class="mod--submenu-center js--menu-submenu__ul mod--custom-scrollbar__not-mac">
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Помогите финансово"
                                                                           rel="ext noopener noreferrer">Помогите
                                                финансово</a>
                                            </li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Стать опекуном">Стать
                                                опекуном</a></li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Стать волонтером">Стать
                                                волонтером</a></li>
                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Оставайтесь сытыми">Оставайтесь
                                                Сытыми</a>
                                            </li>

                                            <li class="md-menu__li-l2 "><a class="md-menu__href-l2 f__sub-menu"
                                                                           href="/Наши сборы">Наши
                                                сборы</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li id="2196752" data-id="2196752" class="md-menu__li-l1 menu-item js--menu__li-l1 "><a
                                        class="md-menu__href-l1 is--link-level1 f__menu height2 big-height5"
                                        href="/">КОНТАКТЫ </a></li>
                                <li id="5602181" data-id="5602181" class="md-menu__li-l1 menu-item js--menu__li-l1 "><a
                                        class="md-menu__href-l1 is--link-level1 f__menu height2 big-height5"
                                        href="{{ url_for('help_money') }}" rel="ext noopener noreferrer">ГОРЯЧАЯ
                                    ЛИНИЯ</a></li>
                            </ul>
                            <div class="md-menu-mobile__socials social-icons">
                                <div class="social-icons-wrapper"></div>
                            </div>


                        </nav>

                    </div>

                    <div style="margin: auto;">
                        <a style="font-size: 16px; white-space: nowrap;" href="{{ url_for('profile') }}">Я
                            администратор</a>
                    </div>

                    <div class="col col-md-8">

                        <div class="widget" id="widget_73304434"
                             data-id="73304434" data-type="post-indent">

                            <div class="wg-post-indent" id="w_73304434">
                                <div class="wg-post-indent__inner"
                                     style="width: 100%; height: 11px;"></div>
                            </div>
                        </div>

                        <div class="widget" id="widget_37846913"
                             data-id="37846913" data-type="social-icons">

                            <div class="element widget-social-icons"
                                 id="w_37846913">

                                <style>
                                    #w_37846913 .social-icons-content {margin: -34px -17px 0;}
                                     #w_37846913 .asi-icon-box-vk { margin: 34px 17px 0 17px; }


                                     #w_37846913 .asi-icon-box-vk a:hover i { color: #8f8f8f; }

                                     #w_37846913 .asi-icon-box-vk i {color: #4f72a8; font-size: 32px; line-height: 32px; }
                                     #w_37846913 .asi-icon-box-ok { margin: 34px 17px 0 17px; }


                                     #w_37846913 .asi-icon-box-ok a:hover i { color: #8f8f8f; }

                                     #w_37846913 .asi-icon-box-ok i {color: #ff800d;font-size: 32px; line-height: 32px; }












                                </style>

                                <div class="widget-content social-icons-content center">

                                    <div class="asi-icon-box-vk" id="fff">
                                        <a href="https://t.me/fondnika"
                                           target="_blank" rel="noopener">
                                            <i class="fab fa-telegram-plane" style="font-size:30px"></i>
                                        </a></div>
                                    <div class="asi-icon-box-vk"><a
                                            href="https://vk.com/ournika"
                                            target="_blank" rel="noopener">
                                        <i class="fab fa-vk" style="font-size:30px"></i>
                                    </a></div>
                                    <div class="asi-icon-box-ok"><a
                                            href="https://ok.ru/group/61591464575063"
                                            target="_blank" rel="noopener">
                                        <i class="fab fa-odnoklassniki" style="font-size:30px"></i>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    {% block content %}{% endblock %}
</div>
<script src="/static/js/site.js"></script>


</body>
</html><!-- cached 2022-11-24 10:12:41 e24cc38881bdebf1e12f84cc0a6bf3ce -->
