<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}
<head>
    {% block head %}
    <meta charset="utf-8">

    <title>Файловый менеджер</title>


    {% endblock %}
</head>
<body>


{% block after %}
<span class="title" style="text-align: center;">Наши партнёры</span>
<div class="content">


</div>

{% endblock %}


<!--    <div class="bg-image">-->
<!--        <img src="/static/images/background_image.png">-->
<!--    </div>-->


</body>
</html><!-- cached 2022-11-24 10:12:41 e24cc38881bdebf1e12f84cc0a6bf3ce -->