
<!DOCTYPE html>
<html lang="ru">
{% extends "base_template.html" %}
<head>
    {% block head %}
    <meta charset="utf-8">
    {% if site_name %}
    <title>{{ site_name }}</title>
    {% else %}
    {% if site_data.title %}
    <title>{{ site_data.title }}</title>
    {% else %}
    <title>Не известно</title>
    {% endif %}
    {% endif %}
    <meta name="Keywords" content="Покров, Дари добро, дари добро, покров волонтёры, волонтёры, помощь животным">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    {% if request.endpoint == "index" and allow_background_image == '1' %}
    <style>
            #bg-image {
                visibility: visible;
            }






    </style>
    {% endif %}
    {% endblock %}
</head>
<body>

{% block before %}
<div id="bg-image"></div>
{% endblock %}


{% block after %}
<div class="content">

    <div class="title-block">
        {% if site_data.title %}
        <span class="title">{{site_data.title}}</span>
        {% else %}
        <span class="title">Заголовок не задан</span>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="tools">

            <a href="{{url_for('edit_page_description', page=request.endpoint, page_name=site_data.title)}}">
                <i class="fa-solid fa-pen"></i>

            </a>
        </div>
        {% endif %}
    </div>


    <hr>

    {% if site_data.description %}
    <div>{{ site_data.description | safe}}</div>
    {% else %}
    <p>Описание не задано</p>
    {% endif %}

</div>

{% endblock %}


<!--    <div class="bg-image">-->
<!--        <img src="/static/images/background_image.png">-->
<!--    </div>-->


</body>
</html><!-- cached 2022-11-24 10:12:41 e24cc38881bdebf1e12f84cc0a6bf3ce -->