<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}

<head>

{% block head %}

    <meta charset="UTF-8">
    <title>Новость</title>
    <link rel="stylesheet" type="text/css" href="/static/css/view_news.css">

{% endblock %}
</head>

<body>


{% block after %}

<div class="news-content">


    <img class="cover" src="{{ news.cover }}">

    <div class="news">
        <span class="title-block">{{ news.title }}</span>
        <div class="news-body">{{ news.body|safe }}</div>

    </div>


</div>
{% endblock %}
</body>
</html>