<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}

<head>

    {% block head %}


    <meta charset="utf-8">
    <title>СМИ о нас</title>
    <link rel="stylesheet" type="text/css" href="static/css/smi.css">

    <script type="text/javascript" src="/static/js/dialog.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/dialog.css">
    {% endblock %}
</head>
<body>


{% block after %}
<p class="title">Сми о нас</p>

{% if user.is_authenticated %}
<div class="is-empty">

    <a href="{{url_for('add_smi_post')}}">Добавить пост сми</a>

</div>

{% endif %}
<div class="news-list">
    {% if posts %}
    {% for n in posts %}

    <dialog id="confirm-dialog-{{n.id}}-remove" class="confirm-dialog">
        <p class="dialog-title">Внимание</p>
        <p>Вы действительно хотите удалить этот пост?</p>
        <div class="buttons">
            <a onclick="close_confirm_dialog({{n.id}}, 'remove');">Отмена</a>
            <a href="{{url_for('smi', action='remove', id=n.id)}}">Да</a>
        </div>


    </dialog>

    <div class="item-block">


        {% if user.is_authenticated %}


        <div class="tools">
            <a href="{{url_for('add_smi_post', action='edit', id=n.id)}}">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a onclick="open_confirm_dialog({{n.id}}, 'remove');">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>
        {% endif %}

        <div class="content">

            <p class="title-block">{{ n.title }}</p>

            <img class="cover" src="{{ n.cover }}">


        </div>

    </div>

    {% endfor %}
    {% else %}
    <div class="is-empty">
        <i class="fa-solid fa-image"></i>
        <p>Пока здесь пусто</p>

    </div>
    {% endif %}
</div>

{% endblock %}


</body>
</html><!-- cached 2022-12-02 18:49:34 87ef2240db83be43f42ee471f6cb50d4 -->