<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--"/static/css/build_cms_front.css"-->
    <link rel="stylesheet" type="text/css"
          href="static/css/build_cms_front.css">


    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page.css">
    <script src="/static/js/jquery.js"></script>
<!--    <link rel="stylesheet" type="text/css" href="/static/css/adaptive.css">-->
    <link rel="icon" href="/static/images/icon.ico">
    <script src="https://kit.fontawesome.com/6957c188ce.js" crossorigin="anonymous"></script>
    <script src="/static/js/site.js"></script>
    <title>Title</title>
</head>
<body>
<img src="static/images/logo.png" style="width: 100%">
</body>
</html>