<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}

<head>

    {% block head %}

    <meta charset="UTF-8">
    <title>Добавить пост сми</title>

    <link rel="stylesheet" type="text/css" href="/static/css/form.css">

    {% endblock %}
</head>
<body>


{% block after %}

<div class="form-block">
    <h1>Добавить новость</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        {{ form.title.label }}
        <p>

            {{ form.title(size=35) }}
            {% for error in form.title.errors %}<br>
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>


        {{ form.cover_url.label }}
        <p>

            {{ form.cover_url(size=35) }}
            {% for error in form.cover_url.errors %}<br>
            <span class="error" >{{ error }}</span>
            {% endfor %}


        </p>

        {{ form.url.label }}
        <p>
            {{ form.url(size=35) }}
            {% for error in form.url.errors %}<br>
            <span class="error">{{ error }}</span>
            {% endfor %}

        </p>
        {{ form.submit() }}
    </form>

</div>
{% endblock %}
</body>
</html>