<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{animal.name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/view_animal.css">
</head>

<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">
{% extends "base.html" %}

{% block content %}

<div class="animal-content">


    <img class="cover" src="{{ animal.cover }}">

    <div class="animal">
        <span class="title-block">{{ animal.name }}</span>
        <div class="animal-body">{{ animal.body|safe }}</div>

    </div>


</div>
{% endblock %}
</body>
</html>