<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>

    {% block head %}

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/animals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dialog.css">
    <script type="text/javascript" src="/static/js/dialog.js"></script>
    <script>

        function show_new() {

            document.getElementById("not-deleted").style.opacity = 1;
            document.getElementById("deleted").style.opacity = 0;
            document.getElementById("deleted").style.visibility = "hidden";
            document.getElementById("not-deleted").style.visibility = "visible";

        }

        function show_old() {

            document.getElementById("not-deleted").style.opacity = 0;
            document.getElementById("deleted").style.opacity = 1;
            document.getElementById("deleted").style.visibility = "visible";
            document.getElementById("not-deleted").style.visibility = "hidden";

        }




    </script>
    <title>Наши животные</title>

    {% endblock %}
</head>

<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">
{% block content %}


<span class="title">Наши животные</span>
<nav class="navigation">
    <ul>
        <li><a onclick="show_new()">Сейчас у нас</a></li>
        <li><a onclick="show_old()">Вернулись домой</a></li>
    </ul>
</nav>

<div id="animals-blocks">
    <div class="animals-list" id="not-deleted">
        {% if animals %}
        {% for animal in animals %}
        <dialog open id="confirm-remove-dialog-{{animal.id}}" class="confirm-dialog">
            <h2 class="dialog-title">Внимание</h2>
            <p>Вы действительно хотите удалить это животное?</p>
            <div class="buttons">
                <a onclick="close_confirm_remove({{animal.id}});">Отмена</a>
                <a href="{{url_for('our_animals', action='remove',  id=animal.id)}}">Да</a>
            </div>
        </dialog>
        <dialog open id="confirm-move-dialog-{{animal.id}}" class="confirm-dialog">
            <h2 class="dialog-title">Внимание</h2>
            <p>Вы действительно хотите отправить это животное домой?</p>
            <div class="buttons">
                <a onclick="close_confirm_move({{animal.id}});">Отмена</a>
                <a href="{{url_for('our_animals', action='move_to_house',  id=animal.id)}}">Да</a>
            </div>
        </dialog>
        <div class="item-block">


            {% if user.is_authenticated %}


            <div class="tools">
                {% if animals.index(animal) == 0 %}
                <a href="{{url_for('add_animal')}}">Добавить животное</a>
                {% endif %}
                <a onclick="open_confirm_move({{animal.id}});">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a onclick="open_confirm_remove({{animal.id}});">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
            {% endif %}
            <div class="content">

                <img class="cover" src="{{ animal.cover }}">

                <div class="animals">
                    <span class="title-block">{{ animal.name }}</span>
                    <div class="animals-body">
                        {{ animal.body|safe }}
                    </div>

                </div>
                <a class="view-all" href="{{url_for('our_animals', action='show', id=animal.id)}}">Читать дальше</a>


            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="is-empty">
            <p>Пока здесь пусто</p>
            {% if user.is_authenticated %}


            <a href="{{url_for('add_animal')}}">Добавить животное</a>


            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="animals-list" id="deleted" style="visibility: hidden; opacity: 0;">
        {% if no_animals %}
        {% for animal in no_animals %}
        <dialog open id="confirm-remove-dialog-{{animal.id}}" class="confirm-dialog">
            <h2 class="dialog-title">Внимание</h2>
            <p>Вы действительно хотите удалить это животное?</p>
            <div class="buttons">
                <a onclick="close_confirm_remove({{animal.id}});">Отмена</a>
                <a href="{{url_for('our_animals', action='remove',  id=animal.id)}}">Да</a>
            </div>
        </dialog>
        <dialog open id="confirm-move-dialog-{{animal.id}}" class="confirm-dialog">
            <h2 class="dialog-title">Внимание</h2>
            <p>Вы действительно хотите отправить это животное домой?</p>
            <div class="buttons">
                <a onclick="close_confirm_move({{animal.id}});">Отмена</a>
                <a href="{{url_for('our_animals', action='move_to_house',  id=animal.id)}}">Да</a>
            </div>
        </dialog>
        <div class="item-block">


            {% if user.is_authenticated %}


            <div class="tools">
                {% if no_animals.index(animal) == 0 %}
                <a href="{{url_for('add_animal')}}">Добавить животное</a>
                {% endif %}
                <a onclick="open_confirm_move({{animal.id}});">
                    <i class="fa-solid fa-shield-dog"></i>
                </a>
                <a onclick="open_confirm_remove({{animal.id}});">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
            {% endif %}
            <div class="content">

                <img class=" cover" src="{{ animal.cover }}">

                <div class="animals">
                    <span class="title-block">{{ animal.name }}</span>
                    <div class="animals-body">
                        {{ animal.body|safe }}
                    </div>
                    <a class="view-all" href="{{url_for('our_animals', action='show', id=animal.id)}}"><h4>Читать
                        дальше</h4></a>
                </div>


            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="is-empty">
            <p>Пока здесь пусто</p>
            {% if user.is_authenticated %}


            <a href="{{url_for('add_animal')}}">Добавить животное</a>


            {% endif %}
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}

</body>
</html>