<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}

<head>

    {% block head %}


    <meta charset="utf-8">
    <title>Партнеры</title>
    <link rel="stylesheet" type="text/css" href="static/css/partners.css">
    <link rel="stylesheet" type="text/css" href="static/css/dialog.css">
    <script type="text/javascript" src="/static/js/dialog.js"></script>
    {% endblock %}
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">
<div class="l-wrap js-wrap">

    {% block content %}
    <span class="title">Наши партнёры</span>

    {% if partners_mobile and partners_desktop %}
    <div class="is-empty" style="margin-top: 30px;">
        {% if user.is_authenticated %}
        <a href="{{url_for('add_partner')}}">Добавить партнёра</a>
        {% endif %}
    </div>
    {% endif %}
    {% if partners_mobile and partners_desktop %}

    <div class="partners-list" id="desktop">

        {% for p in partners_desktop %}

        <hr>
        <div class="line">
            {% for partner in p %}
            <div class="partner" style="{% if len(p) == 1 %} margin: 0 0; {% endif %}">
                {% if user.is_authenticated %}

                <dialog open id="confirm-remove-dialog-{{partner.id}}" class="confirm-remove-dialog">
                    <h2 class="dialog-title">Внимание</h2>
                    <p>Вы действительно хотите удалить этого партнёра?</p>
                    <div class="buttons">
                        <a onclick="close_confirm_remove({{partner.id}});">Отмена</a>
                        <a href="{{url_for('partners', action='remove',  id=partner.id)}}">Да</a>
                    </div>
                </dialog>
                {% endif %}
                {% if user.is_authenticated %}

                <div class="tools">
                    <p>{{partner.name}}</p>
                    <a onclick="open_confirm_remove({{partner.id}});">
                        <i class="fa fa-trash-o" style="font-size:24px"></i>
                    </a>
                </div>
                {% else %}
                <p>{{partner.name}}</p>
                {% endif %}

                {% if partner.link %}

                <a href="{{partner.link}}">
                    <img src="{{partner.logo}}">
                </a>
                {% else %}
                <img src="{{partner.logo}}">
                {% endif %}
            </div>
            {% endfor %}
        </div>


        {% endfor %}

    </div>
    <div class="partners-list" id="mobile">

        {% for partner in partners_mobile %}

        <hr>
        <div class="partner">
            {% if user.is_authenticated %}

            <dialog open id="confirm-remove-dialog-{{partner.id}}" class="confirm-remove-dialog">
                <h2 class="dialog-title">Внимание</h2>
                <p>Вы действительно хотите удалить этого партнёра?</p>
                <div class="buttons">
                    <a onclick="close_confirm_remove({{partner.id}});">Отмена</a>
                    <a href="{{url_for('partners', action='remove',  id=partner.id)}}">Да</a>
                </div>
            </dialog>
            {% endif %}

            <p>{{partner.name}}</p>
            {% if user.is_authenticated %}
            <div class="tools">
                <a onclick="open_confirm_remove({{partner.id}});">
                    <i class="fa fa-trash-o" style="font-size:24px"></i>
                </a>
            </div>
            {% endif %}

            {% if partner.link %}

            <a href="{{partner.link}}">
                <img src="{{partner.logo}}">
            </a>
            {% else %}
            <img src="{{partner.logo}}">
            {% endif %}
        </div>


        {% endfor %}

    </div>

    {% elif not (partners_mobile and partners_desktop) %}
    <div class="is-empty" style="margin-top: 100px;">
        <p>Пока здесь пусто</p>
        {% if user.is_authenticated %}
        <a href="{{url_for('add_partner')}}">Добавить партнёра</a>


        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}
</body>
</html><!-- cached 2022-12-02 18:49:34 1909d68bd40b949ccc9acc7880d97f3f -->