<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}

<h1 style="text-align: center; marin-top: 5px;">{{user}}</h1>
<div style="margin: auto;">

    <form action="{{ url_for('add_post') }}" target="_blank">
        <button>Создать пост</button>
    </form>
    <form action="{{ url_for('add_news') }}" target="_blank">
        <button>Создать новость</button>
    </form>
</div>

{% endblock %}
</body>
</html>