<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>

{% block head %}

    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">

{% endblock %}
</head>
<body>

{% block content %}

<span class="title">{{user}}</span>
<div class="buttons-list">
    <a href="{{ url_for('register') }}">
        <div><span>Регистрация нового администратора</span></div>
    </a>
    <a href="{{ url_for('site_settings') }}">
        <div><span>Настройки сайта</span></div>
    </a>
    <a href="{{ url_for('logout') }}">
        <div><span>Выйти</span></div>
    </a>
</div>


{% endblock %}
</body>
</html>