<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}

<head>

    {% block head %}

    <link rel="stylesheet" type="text/css" href="/static/css/Уставные документы.css">
    <meta charset="utf-8">
    <title>Уставные документы</title>
    <script type="text/javascript" src="/static/js/dialog.js"></script>

    {% endblock %}
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">

{% block content %}
<span class="title">Уставные документы</span>
{% if documents %}
<div class="documents-list">
    {% for document in documents %}
    <dialog open id="confirm-remove-dialog-{{document.id}}" class="confirm-remove-dialog">
        <h2 class="dialog-title">Внимание</h2>
        <p>Вы действительно хотите удалить этот документ?</p>
        <div class="buttons">
            <a onclick="close_confirm_remove({{document.id}});">Отмена</a>
            <a href="{{url_for('documents', action='remove',  id=document.id)}}">Да</a>
        </div>


    </dialog>
    <div class="item-block">
        {% if user.is_authenticated %}


        <div class="tools">
            {% if document == documents[-1] %}
            <a href="{{url_for('add_document')}}">Добавить документ</a>
            {% endif %}
            <a onclick="open_confirm_remove({{document.id}});">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>
        {% endif %}
        <a class="document" href="{{document.ref}}" target="_blank">
            <div class="content">

                <span class="document-title">{{document.title}}</span>
            </div>
        </a>
    </div>

    {% endfor %}
</div>
{% else %}
<div class="is-empty">
    <p>Пока здесь пусто</p>
    {% if user.is_authenticated %}


    <a href="{{url_for('add_document')}}">Добавить документ</a>


    {% endif %}
</div>
{% endif %}
{% endblock %}

</body>
</html><!-- cached 2022-12-02 18:49:34 e1f06ea3656617814ddc75707df638f9 -->